## 1. The existing data set puts 18 characteristic data of each company in one row for 20 years.

In [1]:
# The data set has a total of 360+5=365 columns and a total of 8971 rows (different companies)

In [2]:
import pandas as pd
file = "new_american_bankruptcy_dataset.csv"
new_df = pd.read_csv(file)
new_df.head()

,company_name,X1_1999,X2_1999,X3_1999,X4_1999,X5_1999,X6_1999,X7_1999,X8_1999,X9_1999,...,X13_2018,X14_2018,X15_2018,X16_2018,X17_2018,X18_2018,status_label,Division,MajorGroup,last_year
0,C_1,511267.0,740998.00,833107.000,180447.0,18373.000,70658.0,89031.00,191226.00,336.018,...,NaN,NaN,NaN,NaN,NaN,NaN,alive,D,37,2017.0
1,C_2,1029438.0,1672529.00,930142.000,11024.0,102.090,311649.0,413739.00,996805.00,243882.000,...,NaN,NaN,NaN,NaN,NaN,NaN,alive,D,36,2010.0
2,C_3,9757.0,13986.00,19796.000,5974.0,667.000,-932.0,-265.00,9574.00,5494.000,...,NaN,NaN,NaN,NaN,NaN,NaN,alive,D,38,2008.0
3,C_4,381872.0,1160266.00,366.683,591784.0,25.633,97527.0,123.16,365.76,161033.000,...,NaN,NaN,NaN,NaN,NaN,NaN,alive,D,28,2007.0
4,C_5,28957.0,42.21,79567.000,591.0,2024.000,1849.0,3873.00,27743.00,10947.000,...,NaN,NaN,NaN,NaN,NaN,NaN,alive,D,35,1999.0

In [3]:
# Count the number of rows with missing values
rows_with_missing_values = new_df.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 1172
Number of rows with missing values： 7799

## 2. In the adjusted data set, the year expression is changed to the last 1-6 years, and the data set is reduced to only the last 6 years instead of 20 years

#### 2.1 Only accounting data

In [4]:
# (X1-18 of the last 6 years, 108 columns, the data set has a total of 113 columns).
#A total of 8971 rows (different companies), but the number of rows without missing values has increased (because the year is reduced to 6 years)

In [5]:
import pandas as pd
import numpy as np
import warnings

# Ignore warning
warnings.filterwarnings('ignore')

# Create a new DataFrame to store the transformed dataset
new_df_transformed = new_df.copy()

# Define a function to do column renaming
def rename_columns(df, years_to_keep):
    new_columns = []
    for i in range(1, 19):
        for j in range(1, years_to_keep + 1):
            column_name_new = f'X{i}_last{j}year'
            new_columns.append(column_name_new)
            df[column_name_new] = np.nan
    return df, new_columns

# Add new column
new_df_transformed, new_columns = rename_columns(new_df_transformed, 6)

# Iterate through each company and fill the columns
for index, row in new_df_transformed.iterrows():
    company_last_year = row['last_year']
    if not np.isnan(company_last_year):
        for j in range(1, 7):
            for i in range(1, 19):
                column_name_old = f'X{i}_{int(company_last_year) - j + 1}'
                column_name_new = f'X{i}_last{j}year'
                if column_name_old in new_df_transformed.columns:
                    new_df_transformed.at[index, column_name_new] = row[column_name_old]
                else:
                    # Fill in missing values for non-existent year data
                    new_df_transformed.at[index, column_name_new] = np.nan

# Remove the original year column
for year in range(1999, 2019):
    for i in range(1, 19):
        column_name_old = f'X{i}_{year}'
        if column_name_old in new_df_transformed.columns:
            new_df_transformed.drop(columns=[column_name_old], inplace=True)

# Print the first 5 rows of the new DataFrame
print(new_df_transformed.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X1_last2year  X1_last3year  X1_last4year  X1_last5year  ...  X17_last3year  \
0         888.5         873.1         954.1      1116.900  ...         1662.6
1         900.2        1077.4        1008.2       942.700  ...         1456.4
2       13454.0       13582.0        7726.0      5807.000  ...        24998.0
3      353541.0     1037047.0      672072.0       692.991  ...       553617.0
4           NaN           NaN           NaN           NaN  ...            NaN

   X17_last4year  X17_last5year  X17_last6year  X18_last1year  X18_last2year  \
0        1594.30         2035.0         2167.1       1621.800         1619.4
1        1322.20         1281.9         1169.2       1035.200          912.0
2       23135.00        19833.0            NaN      37001.000        29152.0
3        1339.48      1297285.0      1230762.0        681.609       514914.0
4            NaN            NaN            NaN     103437.000            NaN

   X18_last3year  X18_last4year  X18_last5year  X18_last6year
0         1525.7         1510.6         1779.0         1921.9
1         1283.1         1154.3         1141.5         1010.2
2        23746.0        21279.0        18219.0            NaN
3       390516.0      1185651.0      1142057.0      1043498.0
4            NaN            NaN            NaN            NaN

[5 rows x 113 columns]

In [6]:
# Count the number of rows with missing values
rows_with_missing_values = new_df_transformed.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 4978
Number of rows with missing values： 3993

In [7]:
#
unique_divisions = new_df_transformed['Division'].nunique()
print("Number of unique values in 'Division' column:", unique_divisions)

Number of unique values in 'Division' column: 10

#### 2.2 Add the year-on-year change rate for the last 5 years

In [8]:
# In the current data set, the year-on-year change rate is added (X1-18 in the last 6 years, 108 columns + the year-on-year change rate in the last 5 years, 90 columns, the data set has a total of 203 columns), and the number of rows and missing values remain unchanged.

In [9]:
import pandas as pd

# Create a new DataFrame to store the modified data
modified_df = new_df_transformed.copy()

# Create a new column to store the year-over-year growth rate
for feature in range(1, 19):  # Traverse feature numbers X1-X18
    for year in range(1, 6):  # Calculate the year-on-year growth rate of last1-5year in a loop
        new_column = f'X{feature}_last{year}year_ycr'  # New columns for year-on-year growth rates
        
        # If the new column does not exist, create it and fill it with NaN
        if new_column not in modified_df.columns:
            modified_df[new_column] = pd.Series(dtype=float)
            modified_df[new_column].fillna(pd.NA, inplace=True)

        current_column = f'X{feature}_last{year}year'  # Column name for current year
        previous_column = f'X{feature}_last{year+1}year'  # Column name for the Previous year

        # Create temporary DataFrame for calculations without modifying the original DataFrame
        temp_df = modified_df.copy()
        
        # Apply modifications only when the previous_column is 0 (denominator is 0)
        denominator_zero_mask = (temp_df[previous_column] == 0)
        temp_df[previous_column] = temp_df[previous_column].where(~denominator_zero_mask, 0.1)
        
        # Apply modifications only when the current_column is 0
        numerator_zero_mask = (temp_df[current_column] == 0)
        temp_df[current_column] = temp_df[current_column].where(~numerator_zero_mask, 0.1)
        
        # Apply modifications only when both the numerator and the denominator are zero
        both_zero_mask = numerator_zero_mask & denominator_zero_mask
        temp_df[new_column] = temp_df[new_column].where(~both_zero_mask, 0.1)
        
        # Calculate year-on-year growth rate
        temp_df[new_column] = (temp_df[current_column] - temp_df[previous_column]) / temp_df[previous_column]
        
        # Handle missing values in the numerator or denominator
        temp_df[new_column] = temp_df[new_column].where(~(temp_df[current_column].isnull() | temp_df[previous_column].isnull()), pd.NA)
        
        # Update the modified DataFrame with the calculated values
        modified_df[new_column] = temp_df[new_column]

        
# Set pandas display options so that all rows and columns are displayed
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

# Select the columns of interest from modified_df
columns_of_interest = [f'X{feature}_last{year}year_ycr' for feature in range(1, 19) for year in range(1, 6)]

# Add the selected columns from modified_df to new_df_transformed
new_df_transformed[columns_of_interest] = modified_df[columns_of_interest]

# Show modified data set
print(new_df_transformed.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X1_last2year  X1_last3year  X1_last4year  X1_last5year  X1_last6year  \
0         888.5         873.1         954.1      1116.900        1033.7
1         900.2        1077.4        1008.2       942.700         853.0
2       13454.0       13582.0        7726.0      5807.000           NaN
3      353541.0     1037047.0      672072.0       692.991      671429.0
4           NaN           NaN           NaN           NaN           NaN

   X2_last1year  X2_last2year  X2_last3year  X2_last4year  X2_last5year  \
0       1524.70        1504.1      1442.100      1515.000        2199.5
1       1474.50        1343.6      1921.000      1764.800        1611.4
2      21401.00       27171.0     14341.000         8.153        6245.0
3    1288165.00      927239.0      1623.383   2003842.000     2329268.0
4         42.21           NaN           NaN           NaN           NaN

   X2_last6year  X3_last1year  X3_last2year  X3_last3year  X3_last4year  \
0        2136.9       1413.20      1422.700        1354.9      1342.700
1        1535.0        677.20       600.500         870.7       827.500
2           NaN      19334.00        17.589       15454.0     14013.000
3     2296924.0        267.81    229115.000      150257.0       719.226
4           NaN      79567.00           NaN           NaN           NaN

   X3_last5year  X3_last6year  X4_last1year  X4_last2year  X4_last3year  \
0        1581.4        1714.5         177.2         155.3         136.1
1         801.1         681.1         650.8         651.0         650.7
2       12018.0           NaN          23.0        5822.0           0.0
3      729995.0      648822.0         300.0           0.0          17.0
4           NaN           NaN         591.0           NaN           NaN

   X4_last4year  X4_last5year  X4_last6year  X5_last1year  X5_last2year  \
0          85.0       564.300       622.200          40.5        71.000
1         200.6       400.000       400.000          61.5        66.400
2           0.0       222.000           NaN        1686.0         0.500
3          10.0       782.249       847.266       46338.0        42.873
4           NaN           NaN           NaN        2024.0           NaN

   X5_last3year  X5_last4year  X5_last5year  X5_last6year  X6_last1year  \
0        70.800        92.300        113.40         108.6          86.0
1        82.400        67.200         67.80          67.2          59.9
2       216.000       177.000          0.16           NaN       -4407.0
3        67.106        87.216      49681.00       44565.0       -5522.0
4           NaN           NaN           NaN           NaN        1849.0

   X6_last2year  X6_last3year  X6_last4year  X6_last5year  X6_last6year  \
0          77.2          66.1          -8.6         142.6       136.600
1          18.3          90.9         100.7          72.6        91.800
2        -932.0        1036.0        1679.0        1454.0           NaN
3       96041.0       95995.0       66613.0      105547.0       142.699
4           NaN           NaN           NaN           NaN           NaN

   X7_last1year  X7_last2year  X7_last3year  X7_last4year  X7_last5year  \
0         126.5         148.2         136.9          83.7       256.000
1         121.4          84.7         173.3         167.9       140.400
2       -2721.0        -432.0        1252.0        1856.0      1614.000
3       40816.0      138914.0      163101.0      153829.0       155.228
4        3873.0           NaN           NaN           NaN           NaN

   X7_last6year  X8_last1year  X8_last2year  X8_last3year  X8_last4year  \
0         245.2         335.1       344.900        307.70         251.6
1         159.0         479.4       396.200        585.70         494.7
2           NaN       14946.0        11.131       9544.00        9122.0
3      187264.0      454615.0    424713.000        403.36      620254.0
4           NaN       27743.0           NaN           NaN           NaN

   X8_last5year  X8_last6year  X9_last1year  X9_last2year  X9_last3year  \
0        453.60        452.60        547.90         601.1         563.7
1        480.80        488.10        106.40         131.1         162.7
2       7815.00           NaN          6.95        6395.0        4835.0
3        567.29        581.94     125963.00      106958.0       92741.0
4           NaN           NaN      10947.00           NaN           NaN

   X9_last4year  X9_last5year  X9_last6year  X10_last1year  X10_last2year  \
0         566.7         632.9         582.9          333.3        335.100
1         170.2         165.5         140.5          288.7        236.000
2        3921.0        2704.0           NaN        16483.0       6259.000
3      310004.0      309277.0      343899.0       198375.0        155.573
4           NaN           NaN           NaN        39835.0            NaN

   X10_last3year  X10_last4year  X10_last5year  X10_last6year  X11_last1year  \
0          329.0          412.0          402.1          389.0           15.6
1          278.0          474.1          260.1          286.6           62.0
2            3.6         3375.0         3222.0            NaN       -11049.0
3       665257.0      1040406.0       358271.0       378601.0       -13581.0
4            NaN            NaN            NaN            NaN         -138.0

   X11_last2year  X11_last3year  X11_last4year  X11_last5year  X11_last6year  \
0           56.5           47.7           10.2           72.9           55.0
1         -474.3          -41.9          106.3           65.7          110.7
2        -4673.0         1005.0            1.9         1345.0            NaN
3        82544.0       133769.0      -314737.0        13833.0       -99661.0
4            NaN            NaN            NaN            NaN            NaN

   X12_last1year  X12_last2year  X12_last3year  X12_last4year  X12_last5year  \
0          701.2        688.000          637.2          603.9          616.7
1         -918.4       -979.300         -505.6         -448.2         -567.4
2       -21447.0     -10708.000        -5977.0        -7073.0        -8974.0
3       -95949.0        -89.737      -175285.0      -185823.0           72.5
4       -33199.0            NaN            NaN            NaN            NaN

   X12_last6year  X13_last1year  X13_last2year  X13_last3year  X13_last4year  \
0          542.4         203.00        251.400          242.7          231.1
1         -648.5         252.50        200.300          240.6          223.7
2            NaN        4282.00          5.031         2757.0         2704.0
3       -47897.0      130246.00     107847.000        90898.0       226591.0
4            NaN          15.89            NaN            NaN            NaN

   X13_last5year  X13_last6year  X14_last1year  X14_last2year  X14_last3year  \
0          297.9          315.4        1748.30        1767.60         1662.6
1          193.1          233.7        1156.60         996.70         1456.4
2         2504.0            NaN          34.28          28.72        24998.0
3       258471.0       234327.0      722425.00      653828.00       553617.0
4            NaN            NaN         107.31            NaN            NaN

   X14_last4year  X14_last5year  X14_last6year  X15_last1year  X15_last2year  \
0        1594.30         2035.0         2167.1   1.551458e+06      1200.3288
1        1322.20         1281.9         1169.2   1.231524e+06       805.6440
2       23135.00        19833.0            NaN   5.020100e+00        30.4793
3        1339.48      1297285.0      1230762.0   8.824491e+02      1038.6859
4            NaN            NaN            NaN   6.197200e+00            NaN

   X15_last3year  X15_last4year  X15_last5year  X15_last6year  X16_last1year  \
0       842.5112      1046.3954   9.613080e+05   7.900029e+02          588.4
1       705.6420      2199.1200   1.677132e+06   2.032925e+06         1040.1
2        29.0131        19.7568   1.390650e+01            NaN        17224.0
3      1541.7638    895299.0000   1.045883e+03   6.127100e+02       557038.0
4            NaN            NaN            NaN            NaN        52453.0

   X16_last2year  X16_last3year  X16_last4year  X16_last5year  X16_last6year  \
0         589.90          576.3         669.90        1198.80         1217.4
1         987.40         1006.8         757.20         737.90          761.1
2       12296.00         3672.0           3.49           3.58            NaN
3         203.24       705305.0        1120.20     1197279.00      1295081.0
4            NaN            NaN            NaN            NaN            NaN

   X17_last1year  X17_last2year  X17_last3year  X17_last4year  X17_last5year  \
0        1748.30        1767.60         1662.6        1594.30         2035.0
1        1156.60         996.70         1456.4        1322.20         1281.9
2          34.28          28.72        24998.0       23135.00        19833.0
3      722425.00      653828.00       553617.0        1339.48      1297285.0
4         107.31            NaN            NaN            NaN            NaN

   X17_last6year  X18_last1year  X18_last2year  X18_last3year  X18_last4year  \
0         2167.1       1621.800         1619.4         1525.7         1510.6
1         1169.2       1035.200          912.0         1283.1         1154.3
2            NaN      37001.000        29152.0        23746.0        21279.0
3      1230762.0        681.609       514914.0       390516.0      1185651.0
4            NaN     103437.000            NaN            NaN            NaN

   X18_last5year  X18_last6year  X1_last1year_ycr  X1_last2year_ycr  \
0         1779.0         1921.9          0.061002          0.017638
1         1141.5         1010.2          0.230504         -0.164470
2        18219.0            NaN         -0.057083         -0.009424
3      1142057.0      1043498.0          0.644794         -0.659089
4            NaN            NaN               NaN               NaN

   X1_last3year_ycr  X1_last4year_ycr  X1_last5year_ycr  X2_last1year_ycr  \
0         -0.084897         -0.145761          0.080488          0.013696
1          0.068637          0.069481          0.105158          0.097425
2          0.757960          0.330463               NaN         -0.212359
3          0.543059        968.813461         -0.998968          0.389248
4               NaN               NaN               NaN               NaN

   X2_last2year_ycr  X2_last3year_ycr  X2_last4year_ycr  X2_last5year_ycr  \
0          0.042993         -0.048119         -0.311207          0.029295
1         -0.300573          0.088509          0.095197          0.049772
2          0.894638       1757.984423         -0.998694               NaN
3        570.176980         -0.999190         -0.139712          0.014081
4               NaN               NaN               NaN               NaN

   X3_last1year_ycr  X3_last2year_ycr  X3_last3year_ycr  X3_last4year_ycr  \
0         -0.006677          0.050041          0.009086         -0.150942
1          0.127727         -0.310325          0.052205          0.032955
2       1098.209733         -0.998862          0.102833          0.166001
3         -0.998831          0.524821        207.914861         -0.999015
4               NaN               NaN               NaN               NaN

   X3_last5year_ycr  X4_last1year_ycr  X4_last2year_ycr  X4_last3year_ycr  \
0         -0.077632          0.141017          0.141073          0.601176
1          0.176186         -0.000307          0.000461          2.243769
2               NaN         -0.996049      58219.000000          0.000000
3          0.125108       2999.000000         -0.994118          0.700000
4               NaN               NaN               NaN               NaN

   X4_last4year_ycr  X4_last5year_ycr  X5_last1year_ycr  X5_last2year_ycr  \
0         -0.849371         -0.093057         -0.429577          0.002825
1         -0.498500          0.000000         -0.073795         -0.194175
2         -0.999550               NaN       3371.000000         -0.997685
3         -0.987216         -0.076737       1079.820097         -0.361115
4               NaN               NaN               NaN               NaN

   X5_last3year_ycr  X5_last4year_ycr  X5_last5year_ycr  X6_last1year_ycr  \
0         -0.232936         -0.186067          0.044199          0.113990
1          0.226190         -0.008850          0.008929          2.273224
2          0.220339       1105.250000               NaN          3.728541
3         -0.230577         -0.998244          0.114799         -1.057496
4               NaN               NaN               NaN               NaN

   X6_last2year_ycr  X6_last3year_ycr  X6_last4year_ycr  X6_last5year_ycr  \
0          0.167927         -8.686047         -1.060309          0.043924
1         -0.798680         -0.097319          0.387052         -0.209150
2         -1.899614         -0.382966          0.154746               NaN
3          0.000479          0.441085         -0.368878        738.647790
4               NaN               NaN               NaN               NaN

   X7_last1year_ycr  X7_last2year_ycr  X7_last3year_ycr  X7_last4year_ycr  \
0         -0.146424          0.082542          0.635603         -0.673047
1          0.433294         -0.511252          0.032162          0.195869
2          5.298611         -1.345048         -0.325431          0.149938
3         -0.706178         -0.148295          0.060275        989.987451
4               NaN               NaN               NaN               NaN

   X7_last5year_ycr  X8_last1year_ycr  X8_last2year_ycr  X8_last3year_ycr  \
0          0.044046         -0.028414          0.120897          0.222973
1         -0.116981          0.209995         -0.323544          0.183950
2               NaN       1341.736502         -0.998834          0.046262
3         -0.999171          0.070405       1051.937822         -0.999350
4               NaN               NaN               NaN               NaN

   X8_last4year_ycr  X8_last5year_ycr  X9_last1year_ycr  X9_last2year_ycr  \
0         -0.445326          0.002209         -0.088504          0.066347
1          0.028910         -0.014956         -0.188406         -0.194222
2          0.167242               NaN         -0.998913          0.322647
3       1092.363183         -0.025174          0.177687          0.153298
4               NaN               NaN               NaN               NaN

   X9_last3year_ycr  X9_last4year_ycr  X9_last5year_ycr  X10_last1year_ycr  \
0         -0.005294         -0.104598          0.085778          -0.005372
1         -0.044066          0.028399          0.177936           0.223305
2          0.233104          0.450074               NaN           1.633488
3         -0.700839          0.002351         -0.100675        1274.124861
4               NaN               NaN               NaN                NaN

   X10_last2year_ycr  X10_last3year_ycr  X10_last4year_ycr  X10_last5year_ycr  \
0           0.018541          -0.201456           0.024621           0.033676
1          -0.151079          -0.413626           0.822760          -0.092463
2        1737.611111          -0.998933           0.047486                NaN
3          -0.999766          -0.360579           1.903964          -0.053698
4                NaN                NaN                NaN                NaN

   X11_last1year_ycr  X11_last2year_ycr  X11_last3year_ycr  X11_last4year_ycr  \
0          -0.723894           0.184486           3.676471          -0.860082
1          -1.130719          10.319809          -1.394167           0.617960
2           1.364434          -5.649751         527.947368          -0.998587
3          -1.164530          -0.382936          -1.425018         -23.752621
4                NaN                NaN                NaN                NaN

   X11_last5year_ycr  X12_last1year_ycr  X12_last2year_ycr  X12_last3year_ycr  \
0           0.325455           0.019186           0.079724           0.055142
1          -0.406504          -0.062187           0.936907           0.128068
2                NaN           1.002895           0.791534          -0.154955
3          -1.138801        1068.224512          -0.999488          -0.056710
4                NaN                NaN                NaN                NaN

   X12_last4year_ycr  X12_last5year_ycr  X13_last1year_ycr  X13_last2year_ycr  \
0          -0.020756           0.136984          -0.192522           0.035847
1          -0.210081          -0.125058           0.260609          -0.167498
2          -0.211834                NaN         850.123037          -0.998175
3       -2564.075862          -1.001514           0.207692           0.186462
4                NaN                NaN                NaN                NaN

   X13_last3year_ycr  X13_last4year_ycr  X13_last5year_ycr  X14_last1year_ycr  \
0           0.050195          -0.224236          -0.055485          -0.010919
1           0.075548           0.158467          -0.173727           0.160429
2           0.019601           0.079872                NaN           0.193593
3          -0.598845          -0.123341           0.103036           0.104916
4                NaN                NaN                NaN                NaN

   X14_last2year_ycr  X14_last3year_ycr  X14_last4year_ycr  X14_last5year_ycr  \
0           0.063154           0.042840          -0.216560          -0.060957
1          -0.315641           0.101498           0.031438           0.096391
2          -0.998851           0.080527           0.166490                NaN
3           0.181011         412.307403          -0.998967           0.054050
4                NaN                NaN                NaN                NaN

   X15_last1year_ycr  X15_last2year_ycr  X15_last3year_ycr  X15_last4year_ycr  \
0        1291.527514           0.424704          -0.194844          -0.998911
1        1527.620582           0.141718          -0.679125          -0.998689
2          -0.835295           0.050536           0.468512           0.420688
3          -0.150418          -0.326300          -0.998278         855.021809
4                NaN                NaN                NaN                NaN

   X15_last5year_ycr  X16_last1year_ycr  X16_last2year_ycr  X16_last3year_ycr  \
0        1215.841103          -0.002543           0.023599          -0.139722
1          -0.175015           0.053372          -0.019269           0.329635
2                NaN           0.400781           2.348584        1051.148997
3           0.706979        2739.789215          -0.999712         628.624174
4                NaN                NaN                NaN                NaN

   X16_last4year_ycr  X16_last5year_ycr  X17_last1year_ycr  X17_last2year_ycr  \
0          -0.441191          -0.015278          -0.010919           0.063154
1           0.026155          -0.030482           0.160429          -0.315641
2          -0.025140                NaN           0.193593          -0.998851
3          -0.999064          -0.075518           0.104916           0.181011
4                NaN                NaN                NaN                NaN

   X17_last3year_ycr  X17_last4year_ycr  X17_last5year_ycr  X18_last1year_ycr  \
0           0.042840          -0.216560          -0.060957           0.001482
1           0.101498           0.031438           0.096391           0.135088
2           0.080527           0.166490                NaN           0.269244
3         412.307403          -0.998967           0.054050          -0.998676
4                NaN                NaN                NaN                NaN


In [10]:
new_df_transformed.shape

(8971, 203)

In [11]:
# Count the number of rows with missing values
rows_with_missing_values = new_df_transformed.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 4978
Number of rows with missing values： 3993

In [12]:
#Adjust the order of column names

import pandas as pd

# Construct a new list of column names, arranged in the required order
new_columns = ['company_name', 'status_label', 'Division', 'MajorGroup', 'last_year']
for year in range(1, 7):  # Loop through the data columns for each year
    for feature in range(1, 19):  # Iterate over the data columns for each feature
        new_columns.append(f'X{feature}_last{year}year')  # Add feature column for current year

for year in range(1, 6):  # Iterate through the year-on-year change rate column
    for feature in range(1, 19):  # Iterate over the year-over-year rate of change column for each feature
        new_columns.append(f'X{feature}_last{year}year_ycr')  # Add the year-over-year rate of change column for the current year

# Reorder the dataset
new_df_transformed = new_df_transformed.reindex(columns=new_columns)

# Display the reordered dataset
print(new_df_transformed.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X2_last1year  X3_last1year  X4_last1year  X5_last1year  X6_last1year  \
0       1524.70       1413.20         177.2          40.5          86.0
1       1474.50        677.20         650.8          61.5          59.9
2      21401.00      19334.00          23.0        1686.0       -4407.0
3    1288165.00        267.81         300.0       46338.0       -5522.0
4         42.21      79567.00         591.0        2024.0        1849.0

   X7_last1year  X8_last1year  X9_last1year  X10_last1year  X11_last1year  \
0         126.5         335.1        547.90          333.3           15.6
1         121.4         479.4        106.40          288.7           62.0
2       -2721.0       14946.0          6.95        16483.0       -11049.0
3       40816.0      454615.0     125963.00       198375.0       -13581.0
4        3873.0       27743.0      10947.00        39835.0         -138.0

   X12_last1year  X13_last1year  X14_last1year  X15_last1year  X16_last1year  \
0          701.2         203.00        1748.30   1.551458e+06          588.4
1         -918.4         252.50        1156.60   1.231524e+06         1040.1
2       -21447.0        4282.00          34.28   5.020100e+00        17224.0
3       -95949.0      130246.00      722425.00   8.824491e+02       557038.0
4       -33199.0          15.89         107.31   6.197200e+00        52453.0

   X17_last1year  X18_last1year  X1_last2year  X2_last2year  X3_last2year  \
0        1748.30       1621.800         888.5        1504.1      1422.700
1        1156.60       1035.200         900.2        1343.6       600.500
2          34.28      37001.000       13454.0       27171.0        17.589
3      722425.00        681.609      353541.0      927239.0    229115.000
4         107.31     103437.000           NaN           NaN           NaN

   X4_last2year  X5_last2year  X6_last2year  X7_last2year  X8_last2year  \
0         155.3        71.000          77.2         148.2       344.900
1         651.0        66.400          18.3          84.7       396.200
2        5822.0         0.500        -932.0        -432.0        11.131
3           0.0        42.873       96041.0      138914.0    424713.000
4           NaN           NaN           NaN           NaN           NaN

   X9_last2year  X10_last2year  X11_last2year  X12_last2year  X13_last2year  \
0         601.1        335.100           56.5        688.000        251.400
1         131.1        236.000         -474.3       -979.300        200.300
2        6395.0       6259.000        -4673.0     -10708.000          5.031
3      106958.0        155.573        82544.0        -89.737     107847.000
4           NaN            NaN            NaN            NaN            NaN

   X14_last2year  X15_last2year  X16_last2year  X17_last2year  X18_last2year  \
0        1767.60      1200.3288         589.90        1767.60         1619.4
1         996.70       805.6440         987.40         996.70          912.0
2          28.72        30.4793       12296.00          28.72        29152.0
3      653828.00      1038.6859         203.24      653828.00       514914.0
4            NaN            NaN            NaN            NaN            NaN

   X1_last3year  X2_last3year  X3_last3year  X4_last3year  X5_last3year  \
0         873.1      1442.100        1354.9         136.1        70.800
1        1077.4      1921.000         870.7         650.7        82.400
2       13582.0     14341.000       15454.0           0.0       216.000
3     1037047.0      1623.383      150257.0          17.0        67.106
4           NaN           NaN           NaN           NaN           NaN

   X6_last3year  X7_last3year  X8_last3year  X9_last3year  X10_last3year  \
0          66.1         136.9        307.70         563.7          329.0
1          90.9         173.3        585.70         162.7          278.0
2        1036.0        1252.0       9544.00        4835.0            3.6
3       95995.0      163101.0        403.36       92741.0       665257.0
4           NaN           NaN           NaN           NaN            NaN

   X11_last3year  X12_last3year  X13_last3year  X14_last3year  X15_last3year  \
0           47.7          637.2          242.7         1662.6       842.5112
1          -41.9         -505.6          240.6         1456.4       705.6420
2         1005.0        -5977.0         2757.0        24998.0        29.0131
3       133769.0      -175285.0        90898.0       553617.0      1541.7638
4            NaN            NaN            NaN            NaN            NaN

   X16_last3year  X17_last3year  X18_last3year  X1_last4year  X2_last4year  \
0          576.3         1662.6         1525.7         954.1      1515.000
1         1006.8         1456.4         1283.1        1008.2      1764.800
2         3672.0        24998.0        23746.0        7726.0         8.153
3       705305.0       553617.0       390516.0      672072.0   2003842.000
4            NaN            NaN            NaN           NaN           NaN

   X3_last4year  X4_last4year  X5_last4year  X6_last4year  X7_last4year  \
0      1342.700          85.0        92.300          -8.6          83.7
1       827.500         200.6        67.200         100.7         167.9
2     14013.000           0.0       177.000        1679.0        1856.0
3       719.226          10.0        87.216       66613.0      153829.0
4           NaN           NaN           NaN           NaN           NaN

   X8_last4year  X9_last4year  X10_last4year  X11_last4year  X12_last4year  \
0         251.6         566.7          412.0           10.2          603.9
1         494.7         170.2          474.1          106.3         -448.2
2        9122.0        3921.0         3375.0            1.9        -7073.0
3      620254.0      310004.0      1040406.0      -314737.0      -185823.0
4           NaN           NaN            NaN            NaN            NaN

   X13_last4year  X14_last4year  X15_last4year  X16_last4year  X17_last4year  \
0          231.1        1594.30      1046.3954         669.90        1594.30
1          223.7        1322.20      2199.1200         757.20        1322.20
2         2704.0       23135.00        19.7568           3.49       23135.00
3       226591.0        1339.48    895299.0000        1120.20        1339.48
4            NaN            NaN            NaN            NaN            NaN

   X18_last4year  X1_last5year  X2_last5year  X3_last5year  X4_last5year  \
0         1510.6      1116.900        2199.5        1581.4       564.300
1         1154.3       942.700        1611.4         801.1       400.000
2        21279.0      5807.000        6245.0       12018.0       222.000
3      1185651.0       692.991     2329268.0      729995.0       782.249
4            NaN           NaN           NaN           NaN           NaN

   X5_last5year  X6_last5year  X7_last5year  X8_last5year  X9_last5year  \
0        113.40         142.6       256.000        453.60         632.9
1         67.80          72.6       140.400        480.80         165.5
2          0.16        1454.0      1614.000       7815.00        2704.0
3      49681.00      105547.0       155.228        567.29      309277.0
4           NaN           NaN           NaN           NaN           NaN

   X10_last5year  X11_last5year  X12_last5year  X13_last5year  X14_last5year  \
0          402.1           72.9          616.7          297.9         2035.0
1          260.1           65.7         -567.4          193.1         1281.9
2         3222.0         1345.0        -8974.0         2504.0        19833.0
3       358271.0        13833.0           72.5       258471.0      1297285.0
4            NaN            NaN            NaN            NaN            NaN

   X15_last5year  X16_last5year  X17_last5year  X18_last5year  X1_last6year  \
0   9.613080e+05        1198.80         2035.0         1779.0        1033.7
1   1.677132e+06         737.90         1281.9         1141.5         853.0
2   1.390650e+01           3.58        19833.0        18219.0           NaN
3   1.045883e+03     1197279.00      1297285.0      1142057.0      671429.0
4            NaN            NaN            NaN            NaN           NaN

   X2_last6year  X3_last6year  X4_last6year  X5_last6year  X6_last6year  \
0        2136.9        1714.5       622.200         108.6       136.600
1        1535.0         681.1       400.000          67.2        91.800
2           NaN           NaN           NaN           NaN           NaN
3     2296924.0      648822.0       847.266       44565.0       142.699
4           NaN           NaN           NaN           NaN           NaN

   X7_last6year  X8_last6year  X9_last6year  X10_last6year  X11_last6year  \
0         245.2        452.60         582.9          389.0           55.0
1         159.0        488.10         140.5          286.6          110.7
2           NaN           NaN           NaN            NaN            NaN
3      187264.0        581.94      343899.0       378601.0       -99661.0
4           NaN           NaN           NaN            NaN            NaN

   X12_last6year  X13_last6year  X14_last6year  X15_last6year  X16_last6year  \
0          542.4          315.4         2167.1   7.900029e+02         1217.4
1         -648.5          233.7         1169.2   2.032925e+06          761.1
2            NaN            NaN            NaN            NaN            NaN
3       -47897.0       234327.0      1230762.0   6.127100e+02      1295081.0
4            NaN            NaN            NaN            NaN            NaN

   X17_last6year  X18_last6year  X1_last1year_ycr  X2_last1year_ycr  \
0         2167.1         1921.9          0.061002          0.013696
1         1169.2         1010.2          0.230504          0.097425
2            NaN            NaN         -0.057083         -0.212359
3      1230762.0      1043498.0          0.644794          0.389248
4            NaN            NaN               NaN               NaN

   X3_last1year_ycr  X4_last1year_ycr  X5_last1year_ycr  X6_last1year_ycr  \
0         -0.006677          0.141017         -0.429577          0.113990
1          0.127727         -0.000307         -0.073795          2.273224
2       1098.209733         -0.996049       3371.000000          3.728541
3         -0.998831       2999.000000       1079.820097         -1.057496
4               NaN               NaN               NaN               NaN

   X7_last1year_ycr  X8_last1year_ycr  X9_last1year_ycr  X10_last1year_ycr  \
0         -0.146424         -0.028414         -0.088504          -0.005372
1          0.433294          0.209995         -0.188406           0.223305
2          5.298611       1341.736502         -0.998913           1.633488
3         -0.706178          0.070405          0.177687        1274.124861
4               NaN               NaN               NaN                NaN

   X11_last1year_ycr  X12_last1year_ycr  X13_last1year_ycr  X14_last1year_ycr  \
0          -0.723894           0.019186          -0.192522          -0.010919
1          -1.130719          -0.062187           0.260609           0.160429
2           1.364434           1.002895         850.123037           0.193593
3          -1.164530        1068.224512           0.207692           0.104916
4                NaN                NaN                NaN                NaN

   X15_last1year_ycr  X16_last1year_ycr  X17_last1year_ycr  X18_last1year_ycr  \
0        1291.527514          -0.002543          -0.010919           0.001482
1        1527.620582           0.053372           0.160429           0.135088
2          -0.835295           0.400781           0.193593           0.269244
3          -0.150418        2739.789215           0.104916          -0.998676
4                NaN                NaN                NaN                NaN

   X1_last2year_ycr  X2_last2year_ycr  X3_last2year_ycr  X4_last2year_ycr  \
0          0.017638          0.042993          0.050041          0.141073
1         -0.164470         -0.300573         -0.310325          0.000461
2         -0.009424          0.894638         -0.998862      58219.000000
3         -0.659089        570.176980          0.524821         -0.994118
4               NaN               NaN               NaN               NaN

   X5_last2year_ycr  X6_last2year_ycr  X7_last2year_ycr  X8_last2year_ycr  \
0          0.002825          0.167927          0.082542          0.120897
1         -0.194175         -0.798680         -0.511252         -0.323544
2         -0.997685         -1.899614         -1.345048         -0.998834
3         -0.361115          0.000479         -0.148295       1051.937822
4               NaN               NaN               NaN               NaN

   X9_last2year_ycr  X10_last2year_ycr  X11_last2year_ycr  X12_last2year_ycr  \
0          0.066347           0.018541           0.184486           0.079724
1         -0.194222          -0.151079          10.319809           0.936907
2          0.322647        1737.611111          -5.649751           0.791534
3          0.153298          -0.999766          -0.382936          -0.999488
4               NaN                NaN                NaN                NaN

   X13_last2year_ycr  X14_last2year_ycr  X15_last2year_ycr  X16_last2year_ycr  \
0           0.035847           0.063154           0.424704           0.023599
1          -0.167498          -0.315641           0.141718          -0.019269
2          -0.998175          -0.998851           0.050536           2.348584
3           0.186462           0.181011          -0.326300          -0.999712
4                NaN                NaN                NaN                NaN

   X17_last2year_ycr  X18_last2year_ycr  X1_last3year_ycr  X2_last3year_ycr  \
0           0.063154           0.061414         -0.084897         -0.048119
1          -0.315641          -0.289221          0.068637          0.088509
2          -0.998851           0.227659          0.757960       1757.984423
3           0.181011           0.318548          0.543059         -0.999190
4                NaN                NaN               NaN               NaN

   X3_last3year_ycr  X4_last3year_ycr  X5_last3year_ycr  X6_last3year_ycr  \
0          0.009086          0.601176         -0.232936         -8.686047
1          0.052205          2.243769          0.226190         -0.097319
2          0.102833          0.000000          0.220339         -0.382966
3        207.914861          0.700000         -0.230577          0.441085
4               NaN               NaN               NaN               NaN

   X7_last3year_ycr  X8_last3year_ycr  X9_last3year_ycr  X10_last3year_ycr  \
0          0.635603          0.222973         -0.005294          -0.201456
1          0.032162          0.183950         -0.044066          -0.413626
2         -0.325431          0.046262          0.233104          -0.998933
3          0.060275         -0.999350         -0.700839          -0.360579
4               NaN               NaN               NaN                NaN

   X11_last3year_ycr  X12_last3year_ycr  X13_last3year_ycr  X14_last3year_ycr  \
0           3.676471           0.055142           0.050195           0.042840
1          -1.394167           0.128068           0.075548           0.101498
2         527.947368          -0.154955           0.019601           0.080527
3          -1.425018          -0.056710          -0.598845         412.307403
4                NaN                NaN                NaN                NaN

   X15_last3year_ycr  X16_last3year_ycr  X17_last3year_ycr  X18_last3year_ycr  \
0          -0.194844          -0.139722           0.042840           0.009996
1          -0.679125           0.329635           0.101498           0.111583
2           0.468512        1051.148997           0.080527           0.115936
3          -0.998278         628.624174         412.307403          -0.670632
4                NaN                NaN                NaN                NaN

   X1_last4year_ycr  X2_last4year_ycr  X3_last4year_ycr  X4_last4year_ycr  \
0         -0.145761         -0.311207         -0.150942         -0.849371
1          0.069481          0.095197          0.032955         -0.498500
2          0.330463         -0.998694          0.166001         -0.999550
3        968.813461         -0.139712         -0.999015         -0.987216
4               NaN               NaN               NaN               NaN

   X5_last4year_ycr  X6_last4year_ycr  X7_last4year_ycr  X8_last4year_ycr  \
0         -0.186067         -1.060309         -0.673047         -0.445326
1         -0.008850          0.387052          0.195869          0.028910
2       1105.250000          0.154746          0.149938          0.167242
3         -0.998244         -0.368878        989.987451       1092.363183
4               NaN               NaN               NaN               NaN

   X9_last4year_ycr  X10_last4year_ycr  X11_last4year_ycr  X12_last4year_ycr  \
0         -0.104598           0.024621          -0.860082          -0.020756
1          0.028399           0.822760           0.617960          -0.210081
2          0.450074           0.047486          -0.998587          -0.211834
3          0.002351           1.903964         -23.752621       -2564.075862
4               NaN                NaN                NaN                NaN

   X13_last4year_ycr  X14_last4year_ycr  X15_last4year_ycr  X16_last4year_ycr  \
0          -0.224236          -0.216560          -0.998911          -0.441191
1           0.158467           0.031438          -0.998689           0.026155
2           0.079872           0.166490           0.420688          -0.025140
3          -0.123341          -0.998967         855.021809          -0.999064
4                NaN                NaN                NaN                NaN

   X17_last4year_ycr  X18_last4year_ycr  X1_last5year_ycr  X2_last5year_ycr  \
0          -0.216560          -0.150871          0.080488          0.029295
1           0.031438           0.011213          0.105158          0.049772
2           0.166490           0.167957               NaN               NaN
3          -0.998967           0.038171         -0.998968          0.014081
4                NaN                NaN               NaN               NaN

   X3_last5year_ycr  X4_last5year_ycr  X5_last5year_ycr  X6_last5year_ycr  \
0         -0.077632         -0.093057          0.044199          0.043924
1          0.176186          0.000000          0.008929         -0.209150
2               NaN               NaN               NaN               NaN
3          0.125108         -0.076737          0.114799        738.647790
4               NaN               NaN               NaN               NaN

   X7_last5year_ycr  X8_last5year_ycr  X9_last5year_ycr  X10_last5year_ycr  \
0          0.044046          0.002209          0.085778           0.033676
1         -0.116981         -0.014956          0.177936          -0.092463
2               NaN               NaN               NaN                NaN
3         -0.999171         -0.025174         -0.100675          -0.053698
4               NaN               NaN               NaN                NaN

   X11_last5year_ycr  X12_last5year_ycr  X13_last5year_ycr  X14_last5year_ycr  \
0           0.325455           0.136984          -0.055485          -0.060957
1          -0.406504          -0.125058          -0.173727           0.096391
2                NaN                NaN                NaN                NaN
3          -1.138801          -1.001514           0.103036           0.054050
4                NaN                NaN                NaN                NaN


In [13]:
new_df_transformed.shape

(8971, 203)

In [14]:
#Write DataFrame to Excel file
new_df_transformed.to_excel("company_6y+5ycr_0.1.xlsx", index=False)

## 3. Add stock exchange data

In [15]:
#NYSE

In [16]:
import pandas as pd
file = "NYSE COMPOSITE (DJ) (^NYA) monthly 1999-2018.csv"
nyse_df = pd.read_csv(file)
nyse_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1999-01-01,6282.060059,6461.180176,6144.080078,6348.890137,6348.890137,0
1,1999-02-01,6317.379883,6346.669922,6097.020020,6201.069824,6201.069824,0
2,1999-03-01,6190.180176,6530.439941,6159.729980,6382.200195,6382.200195,0
3,1999-04-01,6397.000000,6801.759766,6397.000000,6706.919922,6706.919922,0
4,1999-05-01,6811.390137,6887.200195,6492.479980,6579.609863,6579.609863,0

In [17]:
import pandas as pd


# 1. Convert date column to datetime type and extract year information
nyse_df['Date'] = pd.to_datetime(nyse_df['Date'])
nyse_df['Year'] = nyse_df['Date'].dt.year

# 2. Group data by year
grouped = nyse_df.groupby('Year')

# 3. Accumulate and average the data for each year to obtain the mean value of Adj Close for each year.
yearly_avg_adj_close = grouped['Adj Close'].sum() / grouped['Adj Close'].count()

# 4. Add year and mean to a new DataFrame
nyse_year_df = pd.DataFrame({'Year': yearly_avg_adj_close.index, 'Yearly_Avg_Adj_Close': yearly_avg_adj_close.values})

# Print results
print(nyse_year_df)

    Year  Yearly_Avg_Adj_Close
0   1999           6549.827474
1   2000           6805.633260
2   2001           6387.000000
3   2002           5559.102498
4   2003           5478.855835
5   2004           6645.525065
6   2005           7364.758301
7   2006           8434.441610
8   2007           9685.001790
9   2008           8001.502441
10  2009           6100.795776
11  2010           7166.229940
12  2011           7947.905843
13  2012           8049.892497
14  2013           9467.185872
15  2014          10699.956624
16  2015          10606.906738
17  2016          10451.377523
18  2017          11912.848307
19  2018          12593.500651

In [18]:
#NASDAQ

In [19]:
import pandas as pd
file = "NASDAQ Composite (^IXIC) monthly 1999-2018.csv"
nasdaq_df = pd.read_csv(file)
nasdaq_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1999-01-01,2207.540039,2506.679932,2192.679932,2505.889893,2505.889893,20526060000
1,1999-02-01,2522.379883,2533.439941,2224.209961,2288.030029,2288.030029,17439250000
2,1999-03-01,2286.830078,2520.629883,2235.189941,2461.399902,2461.399902,21196320000
3,1999-04-01,2493.070068,2677.760010,2329.870117,2542.860107,2542.860107,23426400000
4,1999-05-01,2546.330078,2632.739990,2339.120117,2470.520020,2470.520020,18519390000

In [20]:
import pandas as pd

# 1. Convert date column to datetime type and extract year information
nasdaq_df['Date'] = pd.to_datetime(nasdaq_df['Date'])
nasdaq_df['Year'] = nasdaq_df['Date'].dt.year

# 2. Group data by year
grouped = nasdaq_df.groupby('Year')

# 3. Accumulate and average the data for each year to obtain the mean value of Adj Close for each year.
yearly_avg_adj_close = grouped['Adj Close'].sum() / grouped['Adj Close'].count()

# 4. Add year and mean to a new DataFrame
nasdaq_year_df = pd.DataFrame({'Year': yearly_avg_adj_close.index, 'Yearly_Avg_Adj_Close': yearly_avg_adj_close.values})

# Print results
print(nasdaq_year_df)

    Year  Yearly_Avg_Adj_Close
0   1999           2787.559998
1   2000           3710.149170
2   2001           2004.552510
3   2002           1519.770833
4   2003           1659.239176
5   2004           1992.867482
6   2005           2100.603343
7   2006           2278.996664
8   2007           2587.587504
9   2008           2148.948334
10  2009           1856.529999
11  2010           2333.908345
12  2011           2700.576660
13  2012           2984.228353
14  2013           3575.141642
15  2014           4414.850057
16  2015           4932.729126
17  2016           5015.926717
18  2017           6293.024211
19  2018           7405.502482

In [21]:
# Add the annual market closing average price of the two exchanges to the data set

In [22]:
import pandas as pd

# Loop through each year in the last_year column
for i in range(1, 6):  # From 1 to 5
    # Calculate the years to match
    matching_year = new_df_transformed['last_year'] - i + 1
    
    # Add the matched Yearly_Avg_Adj_Close value to new_df_transformed. If the corresponding value cannot be found, fill in the missing value.
    new_df_transformed[f'nyse_last{i}year'] = matching_year.map(nyse_year_df.set_index('Year')['Yearly_Avg_Adj_Close']).fillna(pd.NA)
    new_df_transformed[f'nasdaq_last{i}year'] = matching_year.map(nasdaq_year_df.set_index('Year')['Yearly_Avg_Adj_Close']).fillna(pd.NA)

new_df_transformed.head()

,company_name,status_label,Division,MajorGroup,last_year,X1_last1year,X2_last1year,X3_last1year,X4_last1year,X5_last1year,X6_last1year,X7_last1year,X8_last1year,X9_last1year,X10_last1year,X11_last1year,X12_last1year,X13_last1year,X14_last1year,X15_last1year,X16_last1year,X17_last1year,X18_last1year,X1_last2year,X2_last2year,X3_last2year,X4_last2year,X5_last2year,X6_last2year,X7_last2year,X8_last2year,X9_last2year,X10_last2year,X11_last2year,X12_last2year,X13_last2year,X14_last2year,X15_last2year,X16_last2year,X17_last2year,X18_last2year,X1_last3year,X2_last3year,X3_last3year,X4_last3year,X5_last3year,X6_last3year,X7_last3year,X8_last3year,X9_last3year,X10_last3year,X11_last3year,X12_last3year,X13_last3year,X14_last3year,X15_last3year,X16_last3year,X17_last3year,X18_last3year,X1_last4year,X2_last4year,X3_last4year,X4_last4year,X5_last4year,X6_last4year,X7_last4year,X8_last4year,X9_last4year,X10_last4year,X11_last4year,X12_last4year,X13_last4year,X14_last4year,X15_last4year,X16_last4year,X17_last4year,X18_last4year,X1_last5year,X2_last5year,X3_last5year,X4_last5year,X5_last5year,X6_last5year,X7_last5year,X8_last5year,X9_last5year,X10_last5year,X11_last5year,X12_last5year,X13_last5year,X14_last5year,X15_last5year,X16_last5year,X17_last5year,X18_last5year,X1_last6year,X2_last6year,X3_last6year,X4_last6year,X5_last6year,X6_last6year,X7_last6year,X8_last6year,X9_last6year,X10_last6year,X11_last6year,X12_last6year,X13_last6year,X14_last6year,X15_last6year,X16_last6year,X17_last6year,X18_last6year,X1_last1year_ycr,X2_last1year_ycr,X3_last1year_ycr,X4_last1year_ycr,X5_last1year_ycr,X6_last1year_ycr,X7_last1year_ycr,X8_last1year_ycr,X9_last1year_ycr,X10_last1year_ycr,X11_last1year_ycr,X12_last1year_ycr,X13_last1year_ycr,X14_last1year_ycr,X15_last1year_ycr,X16_last1year_ycr,X17_last1year_ycr,X18_last1year_ycr,X1_last2year_ycr,X2_last2year_ycr,X3_last2year_ycr,X4_last2year_ycr,X5_last2year_ycr,X6_last2year_ycr,X7_last2year_ycr,X8_last2year_ycr,X9_last2year_ycr,X10_last2year_ycr,X11_last2year_ycr,X12_last2year_ycr,X13_last2year_ycr,X14_last2year_ycr,X15_last2year_ycr,X16_last2year_ycr,X17_last2year_ycr,X18_last2year_ycr,X1_last3year_ycr,X2_last3year_ycr,X3_last3year_ycr,X4_last3year_ycr,X5_last3year_ycr,X6_last3year_ycr,X7_last3year_ycr,X8_last3year_ycr,X9_last3year_ycr,X10_last3year_ycr,X11_last3year_ycr,X12_last3year_ycr,X13_last3year_ycr,X14_last3year_ycr,X15_last3year_ycr,X16_last3year_ycr,X17_last3year_ycr,X18_last3year_ycr,X1_last4year_ycr,X2_last4year_ycr,X3_last4year_ycr,X4_last4year_ycr,X5_last4year_ycr,X6_last4year_ycr,X7_last4year_ycr,X8_last4year_ycr,X9_last4year_ycr,X10_last4year_ycr,X11_last4year_ycr,X12_last4year_ycr,X13_last4year_ycr,X14_last4year_ycr,X15_last4year_ycr,X16_last4year_ycr,X17_last4year_ycr,X18_last4year_ycr,X1_last5year_ycr,X2_last5year_ycr,X3_last5year_ycr,X4_last5year_ycr,X5_last5year_ycr,X6_last5year_ycr,X7_last5year_ycr,X8_last5year_ycr,X9_last5year_ycr,X10_last5year_ycr,X11_last5year_ycr,X12_last5year_ycr,X13_last5year_ycr,X14_last5year_ycr,X15_last5year_ycr,X16_last5year_ycr,X17_last5year_ycr,X18_last5year_ycr,nyse_last1year,nasdaq_last1year,nyse_last2year,nasdaq_last2year,nyse_last3year,nasdaq_last3year,nyse_last4year,nasdaq_last4year,nyse_last5year,nasdaq_last5year
0,C_1,alive,D,37,2017.0,942.7,1524.70,1413.20,177.2,40.5,86.0,126.5,335.1,547.90,333.3,15.6,701.2,203.00,1748.30,1.551458e+06,588.4,1748.30,1621.800,888.5,1504.1,1422.700,155.3,71.000,77.2,148.2,344.900,601.1,335.100,56.5,688.000,251.400,1767.60,1200.3288,589.90,1767.60,1619.4,873.1,1442.100,1354.9,136.1,70.800,66.1,136.9,307.70,563.7,329.0,47.7,637.2,242.7,1662.6,842.5112,576.3,1662.6,1525.7,954.1,1515.000,1342.700,85.0,92.300,-8.6,83.7,251.6,566.7,412.0,10.2,603.9,231.1,1594.30,1046.3954,669.90,1594.30,1510.6,1116.900,2199.5,1581.4,564.300,113.40,142.6,256.000,453.60,632.9,402.1,72.9,616.7,297.9,2035.0,9.613080e+05,1198.80,2035.0,1779.0,1033.7,2136.9,1714.5,622.200,108.6,136.600,245.2,452.60,582.9,389.0,55.0,542.4,315.4,2167.1,7.900029e+02,1217.4,2167.1,1921.9,0.061002,0.013696,-0.006677,0.141017,-0.429577,0.113990,-0.146424,-0.028414,-0.088504,-0.005372,-0.723894,0.019186,-0.192522,-0.010919,1291.527514,-0.002543,-0.010919,0.001482,0.017638,0.042993,0.050041,0.141073,0.002825,0.167927,0.082542,0.120897,0.066347,0.018541,0.184486,0.079724,0.035847,0.063154,0.424704,0.023599,0.063154,0.061414,-0.084897,-0.048119,0.009086,0.601176,-0.232936,-8.686047,0.635603,0.222973,-0.005294,-0.201456,3.676471,0.055142,0.050195,0.042840,-0.194844,-0.139722,0.042840,0.009996,-0.145761,-0.311207,-0.150942,-0.849371,-0.186067,-1.060309,-0.673047,-0.445326,-0.104598,0.024621,-0.860082,-0.020756,-0.224236,-0.216560,-0.998911,-0.441191,-0.216560,-0.150871,0.080488,0.029295,-0.077632,-0.093057,0.044199,0.043924,0.044046,0.002209,0.085778,0.033676,0.325455,0.136984,-0.055485,-0.060957,1215.841103,-0.015278,-0.060957,-0.074354,11912.848307,6293.024211,10451.377523,5015.926717,10606.906738,4932.729126,10699.956624,4414.850057,9467.185872,3575.141642
1,C_2,alive,D,36,2010.0,1107.7,1474.50,677.20,650.8,61.5,59.9,121.4,479.4,106.40,288.7,62.0,-918.4,252.50,1156.60,1.231524e+06,1040.1,1156.60,1035.200,900.2,1343.6,600.500,651.0,66.400,18.3,84.7,396.200,131.1,236.000,-474.3,-979.300,200.300,996.70,805.6440,987.40,996.70,912.0,1077.4,1921.000,870.7,650.7,82.400,90.9,173.3,585.70,162.7,278.0,-41.9,-505.6,240.6,1456.4,705.6420,1006.8,1456.4,1283.1,1008.2,1764.800,827.500,200.6,67.200,100.7,167.9,494.7,170.2,474.1,106.3,-448.2,223.7,1322.20,2199.1200,757.20,1322.20,1154.3,942.700,1611.4,801.1,400.000,67.80,72.6,140.400,480.80,165.5,260.1,65.7,-567.4,193.1,1281.9,1.677132e+06,737.90,1281.9,1141.5,853.0,1535.0,681.1,400.000,67.2,91.800,159.0,488.10,140.5,286.6,110.7,-648.5,233.7,1169.2,2.032925e+06,761.1,1169.2,1010.2,0.230504,0.097425,0.127727,-0.000307,-0.073795,2.273224,0.433294,0.209995,-0.188406,0.223305,-1.130719,-0.062187,0.260609,0.160429,1527.620582,0.053372,0.160429,0.135088,-0.164470,-0.300573,-0.310325,0.000461,-0.194175,-0.798680,-0.511252,-0.323544,-0.194222,-0.151079,10.319809,0.936907,-0.167498,-0.315641,0.141718,-0.019269,-0.315641,-0.289221,0.068637,0.088509,0.052205,2.243769,0.226190,-0.097319,0.032162,0.183950,-0.044066,-0.413626,-1.394167,0.128068,0.075548,0.101498,-0.679125,0.329635,0.101498,0.111583,0.069481,0.095197,0.032955,-0.498500,-0.008850,0.387052,0.195869,0.028910,0.028399,0.822760,0.617960,-0.210081,0.158467,0.031438,-0.998689,0.026155,0.031438,0.011213,0.105158,0.049772,0.176186,0.000000,0.008929,-0.209150,-0.116981,-0.014956,0.177936,-0.092463,-0.406504,-0.125058,-0.173727,0.096391,-0.175015,-0.030482,0.096391,0.129974,7166.229940,2333.908345,6100.795776,1856.529999,8001.502441,2148.948334,9685.00179,2587.587504,8434.44161,2278.996664
2,C_3,alive,D,38,2008.0,12686.0,21401.00,19334.00,23.0,1686.0,-4407.0,-2721.0,14946.0,6.95,16483.0,-11049.0,-21447.0,4282.00,34.28,5.020100e+00,17224.0,34.28,37001.000,13454.0,27171.0,17.589,5822.0,0.500,-932.0,-432.0,11.131,6395.0,6259.000,-4673.0,-10708.000,5.031,28.72,30.4793,12296.00,28.72,29152.0,13582.0,14341.000,15454.0,0.0,216.000,1036.0,1252.0,9544.00,4835.0,3.6,1005.0,-5977.0,2757.0,24998.0,29.0131,3672.0,24998.0,23746.0,7726.0,8.153,14013.000,0.0,177.000,1679.0,1856.0,9122.0,3921.0,3375.0,1.9,-7073.0,2704.0,23135.00,19.7568,3.49,23135.00,21279.0,5807.000,6245.0,12018.0,222.000,0.16,1454.0,1614.000,7815.00,2704.0,3222.0,1345.0,-8974.0,2504.0,19833.0,1.390650e+01,3.58,19833.0,18219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.057083,-0.212359,1098.209733,-0.996049,3371.000000,3.728541,5.298611,1341.736502,-0.998913,1.633488,1.364434,1.002895,850.123037,0.193593,-0.835295,0.400781,0.193593,0.269244,-0.009424,0.894638,-0.998862,58219.000000,-0.997685,-1.899614,-1.345048,-0.998834,0.322647,1737.611111,-5.649751,0.791534,-0.998175,-0.998851,0.050536,2.348584,-0.998851,0.227659,0.757960,1757.984423,0.102833,0.000000,0.220339,-0.382966,-0.325431,0.046262,0.233104,-0.998933,527.947368,-0.154955,0.019601,0.080527,0.468512,1051.148997,0.080527,0.115936,0.330463,-0.998694,0.166001,-0.999550,1105.250000,0.154746,0.149938,0.167242,0.450074,0.047486,-0.998587,-0.211834,0.079872,0.166490,0.420688,-0.025140,0.166490,0.167957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8001.502441,2148.948334,9685.00179,2587.587504,8434.44161,2278.996664,7364.758301,2100.603343,6645.525065,1992.867482
3,C_4,alive,D,28,2007.0,581502.0,1288165.00,267.81,300.0,46338.0,-5522.0,40816.0,454615.0,125963.00,198375.0,-13581.0,-95949.0,130246.00,722425.00,8.824491e+02,557038.0,722425.00,681.609,353541.0,927239.0,229115.000,0.0,42.873,96041.0,138914.0,424713.000,106958.0,155.573,82544.0,-89.737,107847.000,653828.00,1038.6859,203.24,653828.00,514914.0,1037047.0,1623.383,150257.0,17.0,67.106,95995.0,163101.0,403.36,92741.0,665257.0,133769.0,-175285.0,90898.0,553617.0,1541.7638,705305.0,553617.0,390516.0,672072.0,2003842.000,719.226,10.0,87.216,66613.0,153829.0,620254.0,310004.0,1040406.0,-314737.0,-185823.0,226591.0,1339.48,895299.0000,1120.20,1339.48,1185651.0,692.991,2329268.0,729995.0,782.249,49681.00,105547.0,155.228,567.29,309277.0,358271.0,13833.0,72.5,258471.0,1297285.0,1.045883e+03,1197279.00,1297285.0,1142057.0,671429.0,2296924.0,648822.0,847.266,44565.0,142.699,187264.0,581.94,343899.0,378601.0,-99661.0,-47897.0,234327.0,1230762.0,6.127100e+02,1295081.0,1230762.0,1043498.0,0.644794,0.389248,-0.998831,2999.000000,1079.820097,-1.057496,-0.706178,0.070405,0.177687,1274.124861,-1.164530,1068.224512,0.207692,0.104916,-0.150418,2739.789215,0.104916,-0.998676,-0.659089,570.176980,0.524821,-0.994118,-0.361115,0.000479,-0.148295,1051.937822,0.153298,-0.999766,-0.382936,-0.999488,0.186462,0.181011,-0.326300,-0.999712,0.181011,0.318548,0.543059,-0.999190,207.914861,0.700000,-0.230577,0.441085,0.060275,-0.999350,-0.700839,-0.360579,-1.425018,-0.056710,-0.598845,412.307403,-0.998278,628.624174,412.307403,-0.670632,968.813461,-0.139712,-0.999015,-0.987216,-0.998244,-0.368878,989.987451,1092.363183,0.002351,1.903964,-23.752621,-2564.075862,-0.123341,-0.998967,855.021809,-0.999064,-0.998967,0.038171,-0.998968,0.014081,0.125108,-0.076737,0.114799,738.647790,-0.999171,-0.025174,-0.100675,-0.053698,-1.138801,-1.001514,0.103036,0.054050,0.706979,-0.075518,0.054050,0.094451,9685.001790,2587.587504,8434.44161,2278.996664,7364.758301,2100.603343,6645.525065,1992.867482,5478.855835,1659.239176
4,C_5,alive,D,35,1999.0,28957.0,42.21,79567.00,591.0,2024.0,1849.0,3873.0,27743.0,10947.00,39835.0,-138.0,-33199.0,15.89,107.31,6.197200e+00,52453.0,107.31,103437.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6549.827474,2787.559998,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [23]:
new_df_transformed.shape

(8971, 213)

In [54]:
#Write DataFrame to Excel file
new_df_transformed.to_excel("company_6y+5ycr_0.1_stock.xlsx", index=False)

## 4. Generate new sub-datasets of the dataset, predicting 1-5 years before bankruptcy respectively

#### 4.1 Only data for the last year is generated, excluding the penultimate year.

In [24]:
import pandas as pd

# Select the required columns
selected_columns = ['company_name', 'status_label', 'Division', 'MajorGroup', 'last_year']

# Add last1year column for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last1year'])

# Add last1year_ycr column for each feature
for feature in range(1, 19):
    selected_columns.append(f'X{feature}_last1year_ycr')
    
# Add the required nyse_last and nasdaq_last columns
selected_columns.extend(['nyse_last1year', 'nasdaq_last1year'])

# Generate new data set
new_df_selected1_onlylastyear = new_df_transformed[selected_columns]

# Display the first few rows of the new data set
print(new_df_selected1_onlylastyear.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X2_last1year  X3_last1year  X4_last1year  X5_last1year  X6_last1year  \
0       1524.70       1413.20         177.2          40.5          86.0
1       1474.50        677.20         650.8          61.5          59.9
2      21401.00      19334.00          23.0        1686.0       -4407.0
3    1288165.00        267.81         300.0       46338.0       -5522.0
4         42.21      79567.00         591.0        2024.0        1849.0

   X7_last1year  X8_last1year  X9_last1year  X10_last1year  X11_last1year  \
0         126.5         335.1        547.90          333.3           15.6
1         121.4         479.4        106.40          288.7           62.0
2       -2721.0       14946.0          6.95        16483.0       -11049.0
3       40816.0      454615.0     125963.00       198375.0       -13581.0
4        3873.0       27743.0      10947.00        39835.0         -138.0

   X12_last1year  X13_last1year  X14_last1year  X15_last1year  X16_last1year  \
0          701.2         203.00        1748.30   1.551458e+06          588.4
1         -918.4         252.50        1156.60   1.231524e+06         1040.1
2       -21447.0        4282.00          34.28   5.020100e+00        17224.0
3       -95949.0      130246.00      722425.00   8.824491e+02       557038.0
4       -33199.0          15.89         107.31   6.197200e+00        52453.0

   X17_last1year  X18_last1year  X1_last1year_ycr  X2_last1year_ycr  \
0        1748.30       1621.800          0.061002          0.013696
1        1156.60       1035.200          0.230504          0.097425
2          34.28      37001.000         -0.057083         -0.212359
3      722425.00        681.609          0.644794          0.389248
4         107.31     103437.000               NaN               NaN

   X3_last1year_ycr  X4_last1year_ycr  X5_last1year_ycr  X6_last1year_ycr  \
0         -0.006677          0.141017         -0.429577          0.113990
1          0.127727         -0.000307         -0.073795          2.273224
2       1098.209733         -0.996049       3371.000000          3.728541
3         -0.998831       2999.000000       1079.820097         -1.057496
4               NaN               NaN               NaN               NaN

   X7_last1year_ycr  X8_last1year_ycr  X9_last1year_ycr  X10_last1year_ycr  \
0         -0.146424         -0.028414         -0.088504          -0.005372
1          0.433294          0.209995         -0.188406           0.223305
2          5.298611       1341.736502         -0.998913           1.633488
3         -0.706178          0.070405          0.177687        1274.124861
4               NaN               NaN               NaN                NaN

   X11_last1year_ycr  X12_last1year_ycr  X13_last1year_ycr  X14_last1year_ycr  \
0          -0.723894           0.019186          -0.192522          -0.010919
1          -1.130719          -0.062187           0.260609           0.160429
2           1.364434           1.002895         850.123037           0.193593
3          -1.164530        1068.224512           0.207692           0.104916
4                NaN                NaN                NaN                NaN

   X15_last1year_ycr  X16_last1year_ycr  X17_last1year_ycr  X18_last1year_ycr  \
0        1291.527514          -0.002543          -0.010919           0.001482
1        1527.620582           0.053372           0.160429           0.135088
2          -0.835295           0.400781           0.193593           0.269244
3          -0.150418        2739.789215           0.104916          -0.998676
4                NaN                NaN                NaN                NaN

   nyse_last1year  nasdaq_last1year
0    11912.848307       6293.024211
1     7166.229940       2333.908345
2     8001.502441       2148.948334
3     9685.001790       2587.587504
4     6549.827474       2787.559998

In [25]:
new_df_selected1_onlylastyear.shape

(8971, 43)

In [26]:
# Count the number of missing values in each column
missing_values_count = new_df_selected1_onlylastyear.isnull().sum()

# Show the number of missing values in each column
print("Number of missing values per column")
print(missing_values_count)

Number of missing values per column
company_name           0
status_label           0
Division               0
MajorGroup             0
last_year              0
X1_last1year           0
X2_last1year           0
X3_last1year           0
X4_last1year           0
X5_last1year           0
X6_last1year           0
X7_last1year           0
X8_last1year           0
X9_last1year           0
X10_last1year          0
X11_last1year          0
X12_last1year          0
X13_last1year          0
X14_last1year          0
X15_last1year          0
X16_last1year          0
X17_last1year          0
X18_last1year          0
X1_last1year_ycr     893
X2_last1year_ycr     893
X3_last1year_ycr     893
X4_last1year_ycr     893
X5_last1year_ycr     893
X6_last1year_ycr     893
X7_last1year_ycr     893
X8_last1year_ycr     893
X9_last1year_ycr     893
X10_last1year_ycr    893
X11_last1year_ycr    893
X12_last1year_ycr    893
X13_last1year_ycr    893
X14_last1year_ycr    893
X15_last1year_ycr    893
X16_last1year_ycr    893
X17_last1year_ycr    893
X18_last1year_ycr    893
nyse_last1year         0
nasdaq_last1year       0
dtype: int64

In [27]:
# Count the number of rows with missing values
rows_with_missing_values = new_df_selected1_onlylastyear.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 8078
Number of rows with missing values： 893

In [28]:
# Filter out rows with missing values
rows_with_missing_values =new_df_selected1_onlylastyear[new_df_selected1_onlylastyear.isnull().any(axis=1)]

# Filter out rows with status_label column "failed" among rows with missing values and count their number
failed_rows_with_missing_values = rows_with_missing_values[rows_with_missing_values['status_label'] == 'failed']
count_failed_rows_with_missing_values = len(failed_rows_with_missing_values)

# Displays the number of rows with missing values where status_label is "failed"
print("Number of rows with missing values where status_label is failed：", count_failed_rows_with_missing_values)

# Filter out rows that do not have missing values
rows_without_missing_values = new_df_selected1_onlylastyear[~new_df_selected1_onlylastyear.isnull().any(axis=1)]

# Filter out rows whose status_label column is "failed" among rows that do not have missing values, and count their number
failed_rows_without_missing_values = rows_without_missing_values[rows_without_missing_values['status_label'] == 'failed']
count_failed_rows_without_missing_values = len(failed_rows_without_missing_values)

# Displays the number of rows with status_label "failed" that do not have missing values
print("Number of rows with status_label failed that do not have missing values：", count_failed_rows_without_missing_values)

Number of rows with missing values where status_label is failed： 15
Number of rows with status_label failed that do not have missing values： 594

In [29]:
#Save this subdataset
new_df_selected1_onlylastyear.to_csv("new_df_selected1_onlylastyear_adjusted.csv", index=False)

#### 4.2 Generate a sub-dataset containing the last 2 years

In [30]:
import pandas as pd

# Select the required columns
selected_columns = ['company_name', 'status_label', 'Division', 'MajorGroup', 'last_year']

# Add last1year & last2year columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year' for year in range(1, 3)])

# Add last1year_ycr & last2year_ycr columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year_ycr' for year in range(1, 3)])
    
# Add the required nyse_last and nasdaq_last columns
selected_columns.extend(['nyse_last1year', 'nyse_last2year','nasdaq_last1year','nasdaq_last2year'])

# Generate new data set
new_df_selected2_last2years = new_df_transformed[selected_columns]

# Display the first few rows of the new data set
print(new_df_selected2_last2years.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X1_last2year  X2_last1year  X2_last2year  X3_last1year  X3_last2year  \
0         888.5       1524.70        1504.1       1413.20      1422.700
1         900.2       1474.50        1343.6        677.20       600.500
2       13454.0      21401.00       27171.0      19334.00        17.589
3      353541.0    1288165.00      927239.0        267.81    229115.000
4           NaN         42.21           NaN      79567.00           NaN

   X4_last1year  X4_last2year  X5_last1year  X5_last2year  X6_last1year  \
0         177.2         155.3          40.5        71.000          86.0
1         650.8         651.0          61.5        66.400          59.9
2          23.0        5822.0        1686.0         0.500       -4407.0
3         300.0           0.0       46338.0        42.873       -5522.0
4         591.0           NaN        2024.0           NaN        1849.0

   X6_last2year  X7_last1year  X7_last2year  X8_last1year  X8_last2year  \
0          77.2         126.5         148.2         335.1       344.900
1          18.3         121.4          84.7         479.4       396.200
2        -932.0       -2721.0        -432.0       14946.0        11.131
3       96041.0       40816.0      138914.0      454615.0    424713.000
4           NaN        3873.0           NaN       27743.0           NaN

   X9_last1year  X9_last2year  X10_last1year  X10_last2year  X11_last1year  \
0        547.90         601.1          333.3        335.100           15.6
1        106.40         131.1          288.7        236.000           62.0
2          6.95        6395.0        16483.0       6259.000       -11049.0
3     125963.00      106958.0       198375.0        155.573       -13581.0
4      10947.00           NaN        39835.0            NaN         -138.0

   X11_last2year  X12_last1year  X12_last2year  X13_last1year  X13_last2year  \
0           56.5          701.2        688.000         203.00        251.400
1         -474.3         -918.4       -979.300         252.50        200.300
2        -4673.0       -21447.0     -10708.000        4282.00          5.031
3        82544.0       -95949.0        -89.737      130246.00     107847.000
4            NaN       -33199.0            NaN          15.89            NaN

   X14_last1year  X14_last2year  X15_last1year  X15_last2year  X16_last1year  \
0        1748.30        1767.60   1.551458e+06      1200.3288          588.4
1        1156.60         996.70   1.231524e+06       805.6440         1040.1
2          34.28          28.72   5.020100e+00        30.4793        17224.0
3      722425.00      653828.00   8.824491e+02      1038.6859       557038.0
4         107.31            NaN   6.197200e+00            NaN        52453.0

   X16_last2year  X17_last1year  X17_last2year  X18_last1year  X18_last2year  \
0         589.90        1748.30        1767.60       1621.800         1619.4
1         987.40        1156.60         996.70       1035.200          912.0
2       12296.00          34.28          28.72      37001.000        29152.0
3         203.24      722425.00      653828.00        681.609       514914.0
4            NaN         107.31            NaN     103437.000            NaN

   X1_last1year_ycr  X1_last2year_ycr  X2_last1year_ycr  X2_last2year_ycr  \
0          0.061002          0.017638          0.013696          0.042993
1          0.230504         -0.164470          0.097425         -0.300573
2         -0.057083         -0.009424         -0.212359          0.894638
3          0.644794         -0.659089          0.389248        570.176980
4               NaN               NaN               NaN               NaN

   X3_last1year_ycr  X3_last2year_ycr  X4_last1year_ycr  X4_last2year_ycr  \
0         -0.006677          0.050041          0.141017          0.141073
1          0.127727         -0.310325         -0.000307          0.000461
2       1098.209733         -0.998862         -0.996049      58219.000000
3         -0.998831          0.524821       2999.000000         -0.994118
4               NaN               NaN               NaN               NaN

   X5_last1year_ycr  X5_last2year_ycr  X6_last1year_ycr  X6_last2year_ycr  \
0         -0.429577          0.002825          0.113990          0.167927
1         -0.073795         -0.194175          2.273224         -0.798680
2       3371.000000         -0.997685          3.728541         -1.899614
3       1079.820097         -0.361115         -1.057496          0.000479
4               NaN               NaN               NaN               NaN

   X7_last1year_ycr  X7_last2year_ycr  X8_last1year_ycr  X8_last2year_ycr  \
0         -0.146424          0.082542         -0.028414          0.120897
1          0.433294         -0.511252          0.209995         -0.323544
2          5.298611         -1.345048       1341.736502         -0.998834
3         -0.706178         -0.148295          0.070405       1051.937822
4               NaN               NaN               NaN               NaN

   X9_last1year_ycr  X9_last2year_ycr  X10_last1year_ycr  X10_last2year_ycr  \
0         -0.088504          0.066347          -0.005372           0.018541
1         -0.188406         -0.194222           0.223305          -0.151079
2         -0.998913          0.322647           1.633488        1737.611111
3          0.177687          0.153298        1274.124861          -0.999766
4               NaN               NaN                NaN                NaN

   X11_last1year_ycr  X11_last2year_ycr  X12_last1year_ycr  X12_last2year_ycr  \
0          -0.723894           0.184486           0.019186           0.079724
1          -1.130719          10.319809          -0.062187           0.936907
2           1.364434          -5.649751           1.002895           0.791534
3          -1.164530          -0.382936        1068.224512          -0.999488
4                NaN                NaN                NaN                NaN

   X13_last1year_ycr  X13_last2year_ycr  X14_last1year_ycr  X14_last2year_ycr  \
0          -0.192522           0.035847          -0.010919           0.063154
1           0.260609          -0.167498           0.160429          -0.315641
2         850.123037          -0.998175           0.193593          -0.998851
3           0.207692           0.186462           0.104916           0.181011
4                NaN                NaN                NaN                NaN

   X15_last1year_ycr  X15_last2year_ycr  X16_last1year_ycr  X16_last2year_ycr  \
0        1291.527514           0.424704          -0.002543           0.023599
1        1527.620582           0.141718           0.053372          -0.019269
2          -0.835295           0.050536           0.400781           2.348584
3          -0.150418          -0.326300        2739.789215          -0.999712
4                NaN                NaN                NaN                NaN

   X17_last1year_ycr  X17_last2year_ycr  X18_last1year_ycr  X18_last2year_ycr  \
0          -0.010919           0.063154           0.001482           0.061414
1           0.160429          -0.315641           0.135088          -0.289221
2           0.193593          -0.998851           0.269244           0.227659
3           0.104916           0.181011          -0.998676           0.318548
4                NaN                NaN                NaN                NaN

   nyse_last1year nyse_last2year  nasdaq_last1year nasdaq_last2year
0    11912.848307   10451.377523       6293.024211      5015.926717
1     7166.229940    6100.795776       2333.908345      1856.529999
2     8001.502441     9685.00179       2148.948334      2587.587504
3     9685.001790     8434.44161       2587.587504      2278.996664
4     6549.827474           <NA>       2787.559998             <NA>

In [31]:
new_df_selected2_last2years.shape

(8971, 81)

In [32]:
# Count the number of missing values in each column
missing_values_count = new_df_selected2_last2years.isnull().sum()

# Show the number of missing values in each column
print("Number of missing values per column")
print(missing_values_count)

Number of missing values per column
company_name            0
status_label            0
Division                0
MajorGroup              0
last_year               0
X1_last1year            0
X1_last2year          893
X2_last1year            0
X2_last2year          893
X3_last1year            0
X3_last2year          893
X4_last1year            0
X4_last2year          893
X5_last1year            0
X5_last2year          893
X6_last1year            0
X6_last2year          893
X7_last1year            0
X7_last2year          893
X8_last1year            0
X8_last2year          893
X9_last1year            0
X9_last2year          893
X10_last1year           0
X10_last2year         893
X11_last1year           0
X11_last2year         893
X12_last1year           0
X12_last2year         893
X13_last1year           0
X13_last2year         893
X14_last1year           0
X14_last2year         893
X15_last1year           0
X15_last2year         893
X16_last1year           0
X16_last2year         893
X17_last1year           0
X17_last2year         893
X18_last1year           0
X18_last2year         893
X1_last1year_ycr      893
X1_last2year_ycr     1870
X2_last1year_ycr      893
X2_last2year_ycr     1870
X3_last1year_ycr      893
X3_last2year_ycr     1870
X4_last1year_ycr      893
X4_last2year_ycr     1870
X5_last1year_ycr      893
X5_last2year_ycr     1870
X6_last1year_ycr      893
X6_last2year_ycr     1870
X7_last1year_ycr      893
X7_last2year_ycr     1870
X8_last1year_ycr      893
X8_last2year_ycr     1870
X9_last1year_ycr      893
X9_last2year_ycr     1870
X10_last1year_ycr     893
X10_last2year_ycr    1870
X11_last1year_ycr     893
X11_last2year_ycr    1870
X12_last1year_ycr     893
X12_last2year_ycr    1870
X13_last1year_ycr     893
X13_last2year_ycr    1870
X14_last1year_ycr     893
X14_last2year_ycr    1870
X15_last1year_ycr     893
X15_last2year_ycr    1870
X16_last1year_ycr     893
X16_last2year_ycr    1870
X17_last1year_ycr     893
X17_last2year_ycr    1870
X18_last1year_ycr     893
X18_last2year_ycr    1870
nyse_last1year          0
nyse_last2year        475
nasdaq_last1year        0
nasdaq_last2year      475
dtype: int64

In [33]:
# Count the number of rows with missing values
rows_with_missing_values = new_df_selected2_last2years.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 7101
Number of rows with missing values： 1870

In [34]:
# Filter out rows with missing values
rows_with_missing_values = new_df_selected2_last2years[new_df_selected2_last2years.isnull().any(axis=1)]

# Filter out rows with status_label column "failed" among rows with missing values and count their number
failed_rows_with_missing_values = rows_with_missing_values[rows_with_missing_values['status_label'] == 'failed']
count_failed_rows_with_missing_values = len(failed_rows_with_missing_values)

# Displays the number of rows with missing values where status_label is "failed"
print("Number of rows with missing values where status_label is failed：", count_failed_rows_with_missing_values)

# Filter out rows that do not have missing values
rows_without_missing_values = new_df_selected2_last2years[~new_df_selected2_last2years.isnull().any(axis=1)]

# Filter out rows whose status_label column is "failed" among rows that do not have missing values, and count their number
failed_rows_without_missing_values = rows_without_missing_values[rows_without_missing_values['status_label'] == 'failed']
count_failed_rows_without_missing_values = len(failed_rows_without_missing_values)

# Displays the number of rows with status_label "failed" that do not have missing values
print("Number of rows with status_label failed that do not have missing values：", count_failed_rows_without_missing_values)

Number of rows with missing values where status_label is failed： 45
Number of rows with status_label failed that do not have missing values： 564

In [35]:
#Save this subdataset
new_df_selected2_last2years.to_csv("new_df_selected2_last2years_adjusted.csv", index=False)

#### 4.3 Generate a sub-dataset containing the last 3 years

In [36]:
import pandas as pd

# Select the required columns
selected_columns = ['company_name', 'status_label', 'Division', 'MajorGroup', 'last_year']

# Add last1year to last3year columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year' for year in range(1, 4)])

# Add last1year_ycr to last3year_ycr columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year_ycr' for year in range(1, 4)])
    
# Add the required nyse_last and nasdaq_last columns
selected_columns.extend(['nyse_last1year', 'nyse_last2year','nyse_last3year','nasdaq_last1year','nasdaq_last2year','nasdaq_last3year'])

# Generate new data set
new_df_selected3_last3years = new_df_transformed[selected_columns]

# Display the first few rows of the new data set
print(new_df_selected3_last3years.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X1_last2year  X1_last3year  X2_last1year  X2_last2year  X2_last3year  \
0         888.5         873.1       1524.70        1504.1      1442.100
1         900.2        1077.4       1474.50        1343.6      1921.000
2       13454.0       13582.0      21401.00       27171.0     14341.000
3      353541.0     1037047.0    1288165.00      927239.0      1623.383
4           NaN           NaN         42.21           NaN           NaN

   X3_last1year  X3_last2year  X3_last3year  X4_last1year  X4_last2year  \
0       1413.20      1422.700        1354.9         177.2         155.3
1        677.20       600.500         870.7         650.8         651.0
2      19334.00        17.589       15454.0          23.0        5822.0
3        267.81    229115.000      150257.0         300.0           0.0
4      79567.00           NaN           NaN         591.0           NaN

   X4_last3year  X5_last1year  X5_last2year  X5_last3year  X6_last1year  \
0         136.1          40.5        71.000        70.800          86.0
1         650.7          61.5        66.400        82.400          59.9
2           0.0        1686.0         0.500       216.000       -4407.0
3          17.0       46338.0        42.873        67.106       -5522.0
4           NaN        2024.0           NaN           NaN        1849.0

   X6_last2year  X6_last3year  X7_last1year  X7_last2year  X7_last3year  \
0          77.2          66.1         126.5         148.2         136.9
1          18.3          90.9         121.4          84.7         173.3
2        -932.0        1036.0       -2721.0        -432.0        1252.0
3       96041.0       95995.0       40816.0      138914.0      163101.0
4           NaN           NaN        3873.0           NaN           NaN

   X8_last1year  X8_last2year  X8_last3year  X9_last1year  X9_last2year  \
0         335.1       344.900        307.70        547.90         601.1
1         479.4       396.200        585.70        106.40         131.1
2       14946.0        11.131       9544.00          6.95        6395.0
3      454615.0    424713.000        403.36     125963.00      106958.0
4       27743.0           NaN           NaN      10947.00           NaN

   X9_last3year  X10_last1year  X10_last2year  X10_last3year  X11_last1year  \
0         563.7          333.3        335.100          329.0           15.6
1         162.7          288.7        236.000          278.0           62.0
2        4835.0        16483.0       6259.000            3.6       -11049.0
3       92741.0       198375.0        155.573       665257.0       -13581.0
4           NaN        39835.0            NaN            NaN         -138.0

   X11_last2year  X11_last3year  X12_last1year  X12_last2year  X12_last3year  \
0           56.5           47.7          701.2        688.000          637.2
1         -474.3          -41.9         -918.4       -979.300         -505.6
2        -4673.0         1005.0       -21447.0     -10708.000        -5977.0
3        82544.0       133769.0       -95949.0        -89.737      -175285.0
4            NaN            NaN       -33199.0            NaN            NaN

   X13_last1year  X13_last2year  X13_last3year  X14_last1year  X14_last2year  \
0         203.00        251.400          242.7        1748.30        1767.60
1         252.50        200.300          240.6        1156.60         996.70
2        4282.00          5.031         2757.0          34.28          28.72
3      130246.00     107847.000        90898.0      722425.00      653828.00
4          15.89            NaN            NaN         107.31            NaN

   X14_last3year  X15_last1year  X15_last2year  X15_last3year  X16_last1year  \
0         1662.6   1.551458e+06      1200.3288       842.5112          588.4
1         1456.4   1.231524e+06       805.6440       705.6420         1040.1
2        24998.0   5.020100e+00        30.4793        29.0131        17224.0
3       553617.0   8.824491e+02      1038.6859      1541.7638       557038.0
4            NaN   6.197200e+00            NaN            NaN        52453.0

   X16_last2year  X16_last3year  X17_last1year  X17_last2year  X17_last3year  \
0         589.90          576.3        1748.30        1767.60         1662.6
1         987.40         1006.8        1156.60         996.70         1456.4
2       12296.00         3672.0          34.28          28.72        24998.0
3         203.24       705305.0      722425.00      653828.00       553617.0
4            NaN            NaN         107.31            NaN            NaN

   X18_last1year  X18_last2year  X18_last3year  X1_last1year_ycr  \
0       1621.800         1619.4         1525.7          0.061002
1       1035.200          912.0         1283.1          0.230504
2      37001.000        29152.0        23746.0         -0.057083
3        681.609       514914.0       390516.0          0.644794
4     103437.000            NaN            NaN               NaN

   X1_last2year_ycr  X1_last3year_ycr  X2_last1year_ycr  X2_last2year_ycr  \
0          0.017638         -0.084897          0.013696          0.042993
1         -0.164470          0.068637          0.097425         -0.300573
2         -0.009424          0.757960         -0.212359          0.894638
3         -0.659089          0.543059          0.389248        570.176980
4               NaN               NaN               NaN               NaN

   X2_last3year_ycr  X3_last1year_ycr  X3_last2year_ycr  X3_last3year_ycr  \
0         -0.048119         -0.006677          0.050041          0.009086
1          0.088509          0.127727         -0.310325          0.052205
2       1757.984423       1098.209733         -0.998862          0.102833
3         -0.999190         -0.998831          0.524821        207.914861
4               NaN               NaN               NaN               NaN

   X4_last1year_ycr  X4_last2year_ycr  X4_last3year_ycr  X5_last1year_ycr  \
0          0.141017          0.141073          0.601176         -0.429577
1         -0.000307          0.000461          2.243769         -0.073795
2         -0.996049      58219.000000          0.000000       3371.000000
3       2999.000000         -0.994118          0.700000       1079.820097
4               NaN               NaN               NaN               NaN

   X5_last2year_ycr  X5_last3year_ycr  X6_last1year_ycr  X6_last2year_ycr  \
0          0.002825         -0.232936          0.113990          0.167927
1         -0.194175          0.226190          2.273224         -0.798680
2         -0.997685          0.220339          3.728541         -1.899614
3         -0.361115         -0.230577         -1.057496          0.000479
4               NaN               NaN               NaN               NaN

   X6_last3year_ycr  X7_last1year_ycr  X7_last2year_ycr  X7_last3year_ycr  \
0         -8.686047         -0.146424          0.082542          0.635603
1         -0.097319          0.433294         -0.511252          0.032162
2         -0.382966          5.298611         -1.345048         -0.325431
3          0.441085         -0.706178         -0.148295          0.060275
4               NaN               NaN               NaN               NaN

   X8_last1year_ycr  X8_last2year_ycr  X8_last3year_ycr  X9_last1year_ycr  \
0         -0.028414          0.120897          0.222973         -0.088504
1          0.209995         -0.323544          0.183950         -0.188406
2       1341.736502         -0.998834          0.046262         -0.998913
3          0.070405       1051.937822         -0.999350          0.177687
4               NaN               NaN               NaN               NaN

   X9_last2year_ycr  X9_last3year_ycr  X10_last1year_ycr  X10_last2year_ycr  \
0          0.066347         -0.005294          -0.005372           0.018541
1         -0.194222         -0.044066           0.223305          -0.151079
2          0.322647          0.233104           1.633488        1737.611111
3          0.153298         -0.700839        1274.124861          -0.999766
4               NaN               NaN                NaN                NaN

   X10_last3year_ycr  X11_last1year_ycr  X11_last2year_ycr  X11_last3year_ycr  \
0          -0.201456          -0.723894           0.184486           3.676471
1          -0.413626          -1.130719          10.319809          -1.394167
2          -0.998933           1.364434          -5.649751         527.947368
3          -0.360579          -1.164530          -0.382936          -1.425018
4                NaN                NaN                NaN                NaN

   X12_last1year_ycr  X12_last2year_ycr  X12_last3year_ycr  X13_last1year_ycr  \
0           0.019186           0.079724           0.055142          -0.192522
1          -0.062187           0.936907           0.128068           0.260609
2           1.002895           0.791534          -0.154955         850.123037
3        1068.224512          -0.999488          -0.056710           0.207692
4                NaN                NaN                NaN                NaN

   X13_last2year_ycr  X13_last3year_ycr  X14_last1year_ycr  X14_last2year_ycr  \
0           0.035847           0.050195          -0.010919           0.063154
1          -0.167498           0.075548           0.160429          -0.315641
2          -0.998175           0.019601           0.193593          -0.998851
3           0.186462          -0.598845           0.104916           0.181011
4                NaN                NaN                NaN                NaN

   X14_last3year_ycr  X15_last1year_ycr  X15_last2year_ycr  X15_last3year_ycr  \
0           0.042840        1291.527514           0.424704          -0.194844
1           0.101498        1527.620582           0.141718          -0.679125
2           0.080527          -0.835295           0.050536           0.468512
3         412.307403          -0.150418          -0.326300          -0.998278
4                NaN                NaN                NaN                NaN

   X16_last1year_ycr  X16_last2year_ycr  X16_last3year_ycr  X17_last1year_ycr  \
0          -0.002543           0.023599          -0.139722          -0.010919
1           0.053372          -0.019269           0.329635           0.160429
2           0.400781           2.348584        1051.148997           0.193593
3        2739.789215          -0.999712         628.624174           0.104916
4                NaN                NaN                NaN                NaN

   X17_last2year_ycr  X17_last3year_ycr  X18_last1year_ycr  X18_last2year_ycr  \
0           0.063154           0.042840           0.001482           0.061414
1          -0.315641           0.101498           0.135088          -0.289221
2          -0.998851           0.080527           0.269244           0.227659
3           0.181011         412.307403          -0.998676           0.318548
4                NaN                NaN                NaN                NaN

   X18_last3year_ycr  nyse_last1year nyse_last2year nyse_last3year  \
0           0.009996    11912.848307   10451.377523   10606.906738
1           0.111583     7166.229940    6100.795776    8001.502441
2           0.115936     8001.502441     9685.00179     8434.44161
3          -0.670632     9685.001790     8434.44161    7364.758301
4                NaN     6549.827474           <NA>           <NA>

   nasdaq_last1year nasdaq_last2year nasdaq_last3year
0       6293.024211      5015.926717      4932.729126
1       2333.908345      1856.529999      2148.948334
2       2148.948334      2587.587504      2278.996664
3       2587.587504      2278.996664      2100.603343
4       2787.559998             <NA>             <NA>

In [37]:
new_df_selected3_last3years.shape

(8971, 119)

In [38]:
# Count the number of missing values in each column
missing_values_count = new_df_selected3_last3years.isnull().sum()

# Show the number of missing values in each column
print("Number of missing values per column")
print(missing_values_count)

Number of missing values per column
company_name            0
status_label            0
Division                0
MajorGroup              0
last_year               0
X1_last1year            0
X1_last2year          893
X1_last3year         1799
X2_last1year            0
X2_last2year          893
X2_last3year         1799
X3_last1year            0
X3_last2year          893
X3_last3year         1799
X4_last1year            0
X4_last2year          893
X4_last3year         1799
X5_last1year            0
X5_last2year          893
X5_last3year         1799
X6_last1year            0
X6_last2year          893
X6_last3year         1799
X7_last1year            0
X7_last2year          893
X7_last3year         1799
X8_last1year            0
X8_last2year          893
X8_last3year         1799
X9_last1year            0
X9_last2year          893
X9_last3year         1799
X10_last1year           0
X10_last2year         893
X10_last3year        1799
X11_last1year           0
X11_last2year         893
X11_last3year        1799
X12_last1year           0
X12_last2year         893
X12_last3year        1799
X13_last1year           0
X13_last2year         893
X13_last3year        1799
X14_last1year           0
X14_last2year         893
X14_last3year        1799
X15_last1year           0
X15_last2year         893
X15_last3year        1799
X16_last1year           0
X16_last2year         893
X16_last3year        1799
X17_last1year           0
X17_last2year         893
X17_last3year        1799
X18_last1year           0
X18_last2year         893
X18_last3year        1799
X1_last1year_ycr      893
X1_last2year_ycr     1870
X1_last3year_ycr     2624
X2_last1year_ycr      893
X2_last2year_ycr     1870
X2_last3year_ycr     2624
X3_last1year_ycr      893
X3_last2year_ycr     1870
X3_last3year_ycr     2624
X4_last1year_ycr      893
X4_last2year_ycr     1870
X4_last3year_ycr     2624
X5_last1year_ycr      893
X5_last2year_ycr     1870
X5_last3year_ycr     2624
X6_last1year_ycr      893
X6_last2year_ycr     1870
X6_last3year_ycr     2624
X7_last1year_ycr      893
X7_last2year_ycr     1870
X7_last3year_ycr     2624
X8_last1year_ycr      893
X8_last2year_ycr     1870
X8_last3year_ycr     2624
X9_last1year_ycr      893
X9_last2year_ycr     1870
X9_last3year_ycr     2624
X10_last1year_ycr     893
X10_last2year_ycr    1870
X10_last3year_ycr    2624
X11_last1year_ycr     893
X11_last2year_ycr    1870
X11_last3year_ycr    2624
X12_last1year_ycr     893
X12_last2year_ycr    1870
X12_last3year_ycr    2624
X13_last1year_ycr     893
X13_last2year_ycr    1870
X13_last3year_ycr    2624
X14_last1year_ycr     893
X14_last2year_ycr    1870
X14_last3year_ycr    2624
X15_last1year_ycr     893
X15_last2year_ycr    1870
X15_last3year_ycr    2624
X16_last1year_ycr     893
X16_last2year_ycr    1870
X16_last3year_ycr    2624
X17_last1year_ycr     893
X17_last2year_ycr    1870
X17_last3year_ycr    2624
X18_last1year_ycr     893
X18_last2year_ycr    1870
X18_last3year_ycr    2624
nyse_last1year          0
nyse_last2year        475
nyse_last3year        968
nasdaq_last1year        0
nasdaq_last2year      475
nasdaq_last3year      968
dtype: int64

In [39]:
# Count the number of rows with missing values
rows_with_missing_values = new_df_selected3_last3years.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 6298
Number of rows with missing values： 2673

In [40]:
# Filter out rows with missing values
rows_with_missing_values = new_df_selected3_last3years[new_df_selected3_last3years.isnull().any(axis=1)]

# Filter out rows with status_label column "failed" among rows with missing values and count their number
failed_rows_with_missing_values = rows_with_missing_values[rows_with_missing_values['status_label'] == 'failed']
count_failed_rows_with_missing_values = len(failed_rows_with_missing_values)

# Displays the number of rows with missing values where status_label is "failed"
print("Number of rows with missing values where status_label is failed：", count_failed_rows_with_missing_values)

# Filter out rows that do not have missing values
rows_without_missing_values = new_df_selected3_last3years[~new_df_selected3_last3years.isnull().any(axis=1)]

# Filter out rows whose status_label column is "failed" among rows that do not have missing values, and count their number
failed_rows_without_missing_values = rows_without_missing_values[rows_without_missing_values['status_label'] == 'failed']
count_failed_rows_without_missing_values = len(failed_rows_without_missing_values)

# Displays the number of rows with status_label "failed" that do not have missing values
print("Number of rows with status_label failed that do not have missing values：", count_failed_rows_without_missing_values)

Number of rows with missing values where status_label is failed： 95
Number of rows with status_label failed that do not have missing values： 514

In [41]:
#Save this subdataset
new_df_selected3_last3years.to_csv("new_df_selected3_last3years_adjusted.csv", index=False)

#### 4.4 Generate a sub-dataset containing the last 4 years

In [42]:
import pandas as pd

# Select the required columns
selected_columns = ['company_name', 'status_label', 'Division', 'MajorGroup', 'last_year']

# Add last1year to last4year columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year' for year in range(1, 5)])

# Add last1year_ycr to last4year_ycr columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year_ycr' for year in range(1, 5)])
    
# Add the required nyse_last and nasdaq_last columns
selected_columns.extend(['nyse_last1year', 'nyse_last2year', 'nyse_last3year', 'nyse_last4year', 'nasdaq_last1year','nasdaq_last2year','nasdaq_last3year','nasdaq_last4year'])

# Generate new data set
new_df_selected4_last4years = new_df_transformed[selected_columns]

# Display the first few rows of the new data set
print(new_df_selected4_last4years.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X1_last2year  X1_last3year  X1_last4year  X2_last1year  X2_last2year  \
0         888.5         873.1         954.1       1524.70        1504.1
1         900.2        1077.4        1008.2       1474.50        1343.6
2       13454.0       13582.0        7726.0      21401.00       27171.0
3      353541.0     1037047.0      672072.0    1288165.00      927239.0
4           NaN           NaN           NaN         42.21           NaN

   X2_last3year  X2_last4year  X3_last1year  X3_last2year  X3_last3year  \
0      1442.100      1515.000       1413.20      1422.700        1354.9
1      1921.000      1764.800        677.20       600.500         870.7
2     14341.000         8.153      19334.00        17.589       15454.0
3      1623.383   2003842.000        267.81    229115.000      150257.0
4           NaN           NaN      79567.00           NaN           NaN

   X3_last4year  X4_last1year  X4_last2year  X4_last3year  X4_last4year  \
0      1342.700         177.2         155.3         136.1          85.0
1       827.500         650.8         651.0         650.7         200.6
2     14013.000          23.0        5822.0           0.0           0.0
3       719.226         300.0           0.0          17.0          10.0
4           NaN         591.0           NaN           NaN           NaN

   X5_last1year  X5_last2year  X5_last3year  X5_last4year  X6_last1year  \
0          40.5        71.000        70.800        92.300          86.0
1          61.5        66.400        82.400        67.200          59.9
2        1686.0         0.500       216.000       177.000       -4407.0
3       46338.0        42.873        67.106        87.216       -5522.0
4        2024.0           NaN           NaN           NaN        1849.0

   X6_last2year  X6_last3year  X6_last4year  X7_last1year  X7_last2year  \
0          77.2          66.1          -8.6         126.5         148.2
1          18.3          90.9         100.7         121.4          84.7
2        -932.0        1036.0        1679.0       -2721.0        -432.0
3       96041.0       95995.0       66613.0       40816.0      138914.0
4           NaN           NaN           NaN        3873.0           NaN

   X7_last3year  X7_last4year  X8_last1year  X8_last2year  X8_last3year  \
0         136.9          83.7         335.1       344.900        307.70
1         173.3         167.9         479.4       396.200        585.70
2        1252.0        1856.0       14946.0        11.131       9544.00
3      163101.0      153829.0      454615.0    424713.000        403.36
4           NaN           NaN       27743.0           NaN           NaN

   X8_last4year  X9_last1year  X9_last2year  X9_last3year  X9_last4year  \
0         251.6        547.90         601.1         563.7         566.7
1         494.7        106.40         131.1         162.7         170.2
2        9122.0          6.95        6395.0        4835.0        3921.0
3      620254.0     125963.00      106958.0       92741.0      310004.0
4           NaN      10947.00           NaN           NaN           NaN

   X10_last1year  X10_last2year  X10_last3year  X10_last4year  X11_last1year  \
0          333.3        335.100          329.0          412.0           15.6
1          288.7        236.000          278.0          474.1           62.0
2        16483.0       6259.000            3.6         3375.0       -11049.0
3       198375.0        155.573       665257.0      1040406.0       -13581.0
4        39835.0            NaN            NaN            NaN         -138.0

   X11_last2year  X11_last3year  X11_last4year  X12_last1year  X12_last2year  \
0           56.5           47.7           10.2          701.2        688.000
1         -474.3          -41.9          106.3         -918.4       -979.300
2        -4673.0         1005.0            1.9       -21447.0     -10708.000
3        82544.0       133769.0      -314737.0       -95949.0        -89.737
4            NaN            NaN            NaN       -33199.0            NaN

   X12_last3year  X12_last4year  X13_last1year  X13_last2year  X13_last3year  \
0          637.2          603.9         203.00        251.400          242.7
1         -505.6         -448.2         252.50        200.300          240.6
2        -5977.0        -7073.0        4282.00          5.031         2757.0
3      -175285.0      -185823.0      130246.00     107847.000        90898.0
4            NaN            NaN          15.89            NaN            NaN

   X13_last4year  X14_last1year  X14_last2year  X14_last3year  X14_last4year  \
0          231.1        1748.30        1767.60         1662.6        1594.30
1          223.7        1156.60         996.70         1456.4        1322.20
2         2704.0          34.28          28.72        24998.0       23135.00
3       226591.0      722425.00      653828.00       553617.0        1339.48
4            NaN         107.31            NaN            NaN            NaN

   X15_last1year  X15_last2year  X15_last3year  X15_last4year  X16_last1year  \
0   1.551458e+06      1200.3288       842.5112      1046.3954          588.4
1   1.231524e+06       805.6440       705.6420      2199.1200         1040.1
2   5.020100e+00        30.4793        29.0131        19.7568        17224.0
3   8.824491e+02      1038.6859      1541.7638    895299.0000       557038.0
4   6.197200e+00            NaN            NaN            NaN        52453.0

   X16_last2year  X16_last3year  X16_last4year  X17_last1year  X17_last2year  \
0         589.90          576.3         669.90        1748.30        1767.60
1         987.40         1006.8         757.20        1156.60         996.70
2       12296.00         3672.0           3.49          34.28          28.72
3         203.24       705305.0        1120.20      722425.00      653828.00
4            NaN            NaN            NaN         107.31            NaN

   X17_last3year  X17_last4year  X18_last1year  X18_last2year  X18_last3year  \
0         1662.6        1594.30       1621.800         1619.4         1525.7
1         1456.4        1322.20       1035.200          912.0         1283.1
2        24998.0       23135.00      37001.000        29152.0        23746.0
3       553617.0        1339.48        681.609       514914.0       390516.0
4            NaN            NaN     103437.000            NaN            NaN

   X18_last4year  X1_last1year_ycr  X1_last2year_ycr  X1_last3year_ycr  \
0         1510.6          0.061002          0.017638         -0.084897
1         1154.3          0.230504         -0.164470          0.068637
2        21279.0         -0.057083         -0.009424          0.757960
3      1185651.0          0.644794         -0.659089          0.543059
4            NaN               NaN               NaN               NaN

   X1_last4year_ycr  X2_last1year_ycr  X2_last2year_ycr  X2_last3year_ycr  \
0         -0.145761          0.013696          0.042993         -0.048119
1          0.069481          0.097425         -0.300573          0.088509
2          0.330463         -0.212359          0.894638       1757.984423
3        968.813461          0.389248        570.176980         -0.999190
4               NaN               NaN               NaN               NaN

   X2_last4year_ycr  X3_last1year_ycr  X3_last2year_ycr  X3_last3year_ycr  \
0         -0.311207         -0.006677          0.050041          0.009086
1          0.095197          0.127727         -0.310325          0.052205
2         -0.998694       1098.209733         -0.998862          0.102833
3         -0.139712         -0.998831          0.524821        207.914861
4               NaN               NaN               NaN               NaN

   X3_last4year_ycr  X4_last1year_ycr  X4_last2year_ycr  X4_last3year_ycr  \
0         -0.150942          0.141017          0.141073          0.601176
1          0.032955         -0.000307          0.000461          2.243769
2          0.166001         -0.996049      58219.000000          0.000000
3         -0.999015       2999.000000         -0.994118          0.700000
4               NaN               NaN               NaN               NaN

   X4_last4year_ycr  X5_last1year_ycr  X5_last2year_ycr  X5_last3year_ycr  \
0         -0.849371         -0.429577          0.002825         -0.232936
1         -0.498500         -0.073795         -0.194175          0.226190
2         -0.999550       3371.000000         -0.997685          0.220339
3         -0.987216       1079.820097         -0.361115         -0.230577
4               NaN               NaN               NaN               NaN

   X5_last4year_ycr  X6_last1year_ycr  X6_last2year_ycr  X6_last3year_ycr  \
0         -0.186067          0.113990          0.167927         -8.686047
1         -0.008850          2.273224         -0.798680         -0.097319
2       1105.250000          3.728541         -1.899614         -0.382966
3         -0.998244         -1.057496          0.000479          0.441085
4               NaN               NaN               NaN               NaN

   X6_last4year_ycr  X7_last1year_ycr  X7_last2year_ycr  X7_last3year_ycr  \
0         -1.060309         -0.146424          0.082542          0.635603
1          0.387052          0.433294         -0.511252          0.032162
2          0.154746          5.298611         -1.345048         -0.325431
3         -0.368878         -0.706178         -0.148295          0.060275
4               NaN               NaN               NaN               NaN

   X7_last4year_ycr  X8_last1year_ycr  X8_last2year_ycr  X8_last3year_ycr  \
0         -0.673047         -0.028414          0.120897          0.222973
1          0.195869          0.209995         -0.323544          0.183950
2          0.149938       1341.736502         -0.998834          0.046262
3        989.987451          0.070405       1051.937822         -0.999350
4               NaN               NaN               NaN               NaN

   X8_last4year_ycr  X9_last1year_ycr  X9_last2year_ycr  X9_last3year_ycr  \
0         -0.445326         -0.088504          0.066347         -0.005294
1          0.028910         -0.188406         -0.194222         -0.044066
2          0.167242         -0.998913          0.322647          0.233104
3       1092.363183          0.177687          0.153298         -0.700839
4               NaN               NaN               NaN               NaN

   X9_last4year_ycr  X10_last1year_ycr  X10_last2year_ycr  X10_last3year_ycr  \
0         -0.104598          -0.005372           0.018541          -0.201456
1          0.028399           0.223305          -0.151079          -0.413626
2          0.450074           1.633488        1737.611111          -0.998933
3          0.002351        1274.124861          -0.999766          -0.360579
4               NaN                NaN                NaN                NaN

   X10_last4year_ycr  X11_last1year_ycr  X11_last2year_ycr  X11_last3year_ycr  \
0           0.024621          -0.723894           0.184486           3.676471
1           0.822760          -1.130719          10.319809          -1.394167
2           0.047486           1.364434          -5.649751         527.947368
3           1.903964          -1.164530          -0.382936          -1.425018
4                NaN                NaN                NaN                NaN

   X11_last4year_ycr  X12_last1year_ycr  X12_last2year_ycr  X12_last3year_ycr  \
0          -0.860082           0.019186           0.079724           0.055142
1           0.617960          -0.062187           0.936907           0.128068
2          -0.998587           1.002895           0.791534          -0.154955
3         -23.752621        1068.224512          -0.999488          -0.056710
4                NaN                NaN                NaN                NaN

   X12_last4year_ycr  X13_last1year_ycr  X13_last2year_ycr  X13_last3year_ycr  \
0          -0.020756          -0.192522           0.035847           0.050195
1          -0.210081           0.260609          -0.167498           0.075548
2          -0.211834         850.123037          -0.998175           0.019601
3       -2564.075862           0.207692           0.186462          -0.598845
4                NaN                NaN                NaN                NaN

   X13_last4year_ycr  X14_last1year_ycr  X14_last2year_ycr  X14_last3year_ycr  \
0          -0.224236          -0.010919           0.063154           0.042840
1           0.158467           0.160429          -0.315641           0.101498
2           0.079872           0.193593          -0.998851           0.080527
3          -0.123341           0.104916           0.181011         412.307403
4                NaN                NaN                NaN                NaN

   X14_last4year_ycr  X15_last1year_ycr  X15_last2year_ycr  X15_last3year_ycr  \
0          -0.216560        1291.527514           0.424704          -0.194844
1           0.031438        1527.620582           0.141718          -0.679125
2           0.166490          -0.835295           0.050536           0.468512
3          -0.998967          -0.150418          -0.326300          -0.998278
4                NaN                NaN                NaN                NaN

   X15_last4year_ycr  X16_last1year_ycr  X16_last2year_ycr  X16_last3year_ycr  \
0          -0.998911          -0.002543           0.023599          -0.139722
1          -0.998689           0.053372          -0.019269           0.329635
2           0.420688           0.400781           2.348584        1051.148997
3         855.021809        2739.789215          -0.999712         628.624174
4                NaN                NaN                NaN                NaN

   X16_last4year_ycr  X17_last1year_ycr  X17_last2year_ycr  X17_last3year_ycr  \
0          -0.441191          -0.010919           0.063154           0.042840
1           0.026155           0.160429          -0.315641           0.101498
2          -0.025140           0.193593          -0.998851           0.080527
3          -0.999064           0.104916           0.181011         412.307403
4                NaN                NaN                NaN                NaN

   X17_last4year_ycr  X18_last1year_ycr  X18_last2year_ycr  X18_last3year_ycr  \
0          -0.216560           0.001482           0.061414           0.009996
1           0.031438           0.135088          -0.289221           0.111583
2           0.166490           0.269244           0.227659           0.115936
3          -0.998967          -0.998676           0.318548          -0.670632
4                NaN                NaN                NaN                NaN

   X18_last4year_ycr  nyse_last1year nyse_last2year nyse_last3year  \
0          -0.150871    11912.848307   10451.377523   10606.906738
1           0.011213     7166.229940    6100.795776    8001.502441
2           0.167957     8001.502441     9685.00179     8434.44161
3           0.038171     9685.001790     8434.44161    7364.758301
4                NaN     6549.827474           <NA>           <NA>

  nyse_last4year  nasdaq_last1year nasdaq_last2year nasdaq_last3year  \
0   10699.956624       6293.024211      5015.926717      4932.729126
1     9685.00179       2333.908345      1856.529999      2148.948334
2    7364.758301       2148.948334      2587.587504      2278.996664
3    6645.525065       2587.587504      2278.996664      2100.603343
4           <NA>       2787.559998             <NA>             <NA>

  nasdaq_last4year
0      4414.850057
1      2587.587504
2      2100.603343
3      1992.867482
4             <NA>

In [43]:
new_df_selected4_last4years.shape

(8971, 157)

In [44]:
# Count the number of missing values in each column
missing_values_count = new_df_selected4_last4years.isnull().sum()

# Show the number of missing values in each column
print("Number of missing values per column")
print(missing_values_count)

Number of missing values per column
company_name            0
status_label            0
Division                0
MajorGroup              0
last_year               0
X1_last1year            0
X1_last2year          893
X1_last3year         1799
X1_last4year         2530
X2_last1year            0
X2_last2year          893
X2_last3year         1799
X2_last4year         2530
X3_last1year            0
X3_last2year          893
X3_last3year         1799
X3_last4year         2530
X4_last1year            0
X4_last2year          893
X4_last3year         1799
X4_last4year         2530
X5_last1year            0
X5_last2year          893
X5_last3year         1799
X5_last4year         2530
X6_last1year            0
X6_last2year          893
X6_last3year         1799
X6_last4year         2530
X7_last1year            0
X7_last2year          893
X7_last3year         1799
X7_last4year         2530
X8_last1year            0
X8_last2year          893
X8_last3year         1799
X8_last4year         2530
X9_last1year            0
X9_last2year          893
X9_last3year         1799
X9_last4year         2530
X10_last1year           0
X10_last2year         893
X10_last3year        1799
X10_last4year        2530
X11_last1year           0
X11_last2year         893
X11_last3year        1799
X11_last4year        2530
X12_last1year           0
X12_last2year         893
X12_last3year        1799
X12_last4year        2530
X13_last1year           0
X13_last2year         893
X13_last3year        1799
X13_last4year        2530
X14_last1year           0
X14_last2year         893
X14_last3year        1799
X14_last4year        2530
X15_last1year           0
X15_last2year         893
X15_last3year        1799
X15_last4year        2530
X16_last1year           0
X16_last2year         893
X16_last3year        1799
X16_last4year        2530
X17_last1year           0
X17_last2year         893
X17_last3year        1799
X17_last4year        2530
X18_last1year           0
X18_last2year         893
X18_last3year        1799
X18_last4year        2530
X1_last1year_ycr      893
X1_last2year_ycr     1870
X1_last3year_ycr     2624
X1_last4year_ycr     3270
X2_last1year_ycr      893
X2_last2year_ycr     1870
X2_last3year_ycr     2624
X2_last4year_ycr     3270
X3_last1year_ycr      893
X3_last2year_ycr     1870
X3_last3year_ycr     2624
X3_last4year_ycr     3270
X4_last1year_ycr      893
X4_last2year_ycr     1870
X4_last3year_ycr     2624
X4_last4year_ycr     3270
X5_last1year_ycr      893
X5_last2year_ycr     1870
X5_last3year_ycr     2624
X5_last4year_ycr     3270
X6_last1year_ycr      893
X6_last2year_ycr     1870
X6_last3year_ycr     2624
X6_last4year_ycr     3270
X7_last1year_ycr      893
X7_last2year_ycr     1870
X7_last3year_ycr     2624
X7_last4year_ycr     3270
X8_last1year_ycr      893
X8_last2year_ycr     1870
X8_last3year_ycr     2624
X8_last4year_ycr     3270
X9_last1year_ycr      893
X9_last2year_ycr     1870
X9_last3year_ycr     2624
X9_last4year_ycr     3270
X10_last1year_ycr     893
X10_last2year_ycr    1870
X10_last3year_ycr    2624
X10_last4year_ycr    3270
X11_last1year_ycr     893
X11_last2year_ycr    1870
X11_last3year_ycr    2624
X11_last4year_ycr    3270
X12_last1year_ycr     893
X12_last2year_ycr    1870
X12_last3year_ycr    2624
X12_last4year_ycr    3270
X13_last1year_ycr     893
X13_last2year_ycr    1870
X13_last3year_ycr    2624
X13_last4year_ycr    3270
X14_last1year_ycr     893
X14_last2year_ycr    1870
X14_last3year_ycr    2624
X14_last4year_ycr    3270
X15_last1year_ycr     893
X15_last2year_ycr    1870
X15_last3year_ycr    2624
X15_last4year_ycr    3270
X16_last1year_ycr     893
X16_last2year_ycr    1870
X16_last3year_ycr    2624
X16_last4year_ycr    3270
X17_last1year_ycr     893
X17_last2year_ycr    1870
X17_last3year_ycr    2624
X17_last4year_ycr    3270
X18_last1year_ycr     893
X18_last2year_ycr    1870
X18_last3year_ycr    2624
X18_last4year_ycr    3270
nyse_last1year          0
nyse_last2year        475
nyse_last3year        968
nyse_last4year       1319
nasdaq_last1year        0
nasdaq_last2year      475
nasdaq_last3year      968
nasdaq_last4year     1319
dtype: int64

In [45]:
# Count the number of rows with missing values
rows_with_missing_values = new_df_selected4_last4years.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 5600
Number of rows with missing values： 3371

In [46]:
# Filter out rows with missing values
rows_with_missing_values = new_df_selected4_last4years[new_df_selected4_last4years.isnull().any(axis=1)]

# Filter out rows with status_label column "failed" among rows with missing values and count their number
failed_rows_with_missing_values = rows_with_missing_values[rows_with_missing_values['status_label'] == 'failed']
count_failed_rows_with_missing_values = len(failed_rows_with_missing_values)

# Displays the number of rows with missing values where status_label is "failed"
print("Number of rows with missing values where status_label is failed：", count_failed_rows_with_missing_values)

# Filter out rows that do not have missing values
rows_without_missing_values = new_df_selected4_last4years[~new_df_selected4_last4years.isnull().any(axis=1)]

# Filter out rows whose status_label column is "failed" among rows that do not have missing values, and count their number
failed_rows_without_missing_values = rows_without_missing_values[rows_without_missing_values['status_label'] == 'failed']
count_failed_rows_without_missing_values = len(failed_rows_without_missing_values)

# Displays the number of rows with status_label "failed" that do not have missing values
print("Number of rows with status_label failed that do not have missing values：", count_failed_rows_without_missing_values)

Number of rows with missing values where status_label is failed： 133
Number of rows with status_label failed that do not have missing values： 476

In [47]:
#Save this subdataset
new_df_selected4_last4years.to_csv("new_df_selected4_last4years_adjusted.csv", index=False)

#### 4.5 Generate a sub-dataset containing the last 5 years

In [48]:
import pandas as pd

# Select the required columns
selected_columns = ['company_name', 'status_label', 'Division', 'MajorGroup', 'last_year']

# Add last1year to last5year columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year' for year in range(1, 6)])

# Add last1year_ycr & last5year_ycr columns for each feature
for feature in range(1, 19):
    selected_columns.extend([f'X{feature}_last{year}year_ycr' for year in range(1, 6)])
    
# Add the required nyse_last and nasdaq_last columns
selected_columns.extend(['nyse_last1year', 'nyse_last2year', 'nyse_last3year', 'nyse_last4year', 'nyse_last5year', 'nasdaq_last1year','nasdaq_last2year', 'nasdaq_last3year','nasdaq_last4year','nasdaq_last5year'])

# Generate new data set
new_df_selected5_last5years = new_df_transformed[selected_columns]

# Display the first few rows of the new data set
print(new_df_selected5_last5years.head())

  company_name status_label Division  MajorGroup  last_year  X1_last1year  \
0          C_1        alive        D          37     2017.0         942.7
1          C_2        alive        D          36     2010.0        1107.7
2          C_3        alive        D          38     2008.0       12686.0
3          C_4        alive        D          28     2007.0      581502.0
4          C_5        alive        D          35     1999.0       28957.0

   X1_last2year  X1_last3year  X1_last4year  X1_last5year  X2_last1year  \
0         888.5         873.1         954.1      1116.900       1524.70
1         900.2        1077.4        1008.2       942.700       1474.50
2       13454.0       13582.0        7726.0      5807.000      21401.00
3      353541.0     1037047.0      672072.0       692.991    1288165.00
4           NaN           NaN           NaN           NaN         42.21

   X2_last2year  X2_last3year  X2_last4year  X2_last5year  X3_last1year  \
0        1504.1      1442.100      1515.000        2199.5       1413.20
1        1343.6      1921.000      1764.800        1611.4        677.20
2       27171.0     14341.000         8.153        6245.0      19334.00
3      927239.0      1623.383   2003842.000     2329268.0        267.81
4           NaN           NaN           NaN           NaN      79567.00

   X3_last2year  X3_last3year  X3_last4year  X3_last5year  X4_last1year  \
0      1422.700        1354.9      1342.700        1581.4         177.2
1       600.500         870.7       827.500         801.1         650.8
2        17.589       15454.0     14013.000       12018.0          23.0
3    229115.000      150257.0       719.226      729995.0         300.0
4           NaN           NaN           NaN           NaN         591.0

   X4_last2year  X4_last3year  X4_last4year  X4_last5year  X5_last1year  \
0         155.3         136.1          85.0       564.300          40.5
1         651.0         650.7         200.6       400.000          61.5
2        5822.0           0.0           0.0       222.000        1686.0
3           0.0          17.0          10.0       782.249       46338.0
4           NaN           NaN           NaN           NaN        2024.0

   X5_last2year  X5_last3year  X5_last4year  X5_last5year  X6_last1year  \
0        71.000        70.800        92.300        113.40          86.0
1        66.400        82.400        67.200         67.80          59.9
2         0.500       216.000       177.000          0.16       -4407.0
3        42.873        67.106        87.216      49681.00       -5522.0
4           NaN           NaN           NaN           NaN        1849.0

   X6_last2year  X6_last3year  X6_last4year  X6_last5year  X7_last1year  \
0          77.2          66.1          -8.6         142.6         126.5
1          18.3          90.9         100.7          72.6         121.4
2        -932.0        1036.0        1679.0        1454.0       -2721.0
3       96041.0       95995.0       66613.0      105547.0       40816.0
4           NaN           NaN           NaN           NaN        3873.0

   X7_last2year  X7_last3year  X7_last4year  X7_last5year  X8_last1year  \
0         148.2         136.9          83.7       256.000         335.1
1          84.7         173.3         167.9       140.400         479.4
2        -432.0        1252.0        1856.0      1614.000       14946.0
3      138914.0      163101.0      153829.0       155.228      454615.0
4           NaN           NaN           NaN           NaN       27743.0

   X8_last2year  X8_last3year  X8_last4year  X8_last5year  X9_last1year  \
0       344.900        307.70         251.6        453.60        547.90
1       396.200        585.70         494.7        480.80        106.40
2        11.131       9544.00        9122.0       7815.00          6.95
3    424713.000        403.36      620254.0        567.29     125963.00
4           NaN           NaN           NaN           NaN      10947.00

   X9_last2year  X9_last3year  X9_last4year  X9_last5year  X10_last1year  \
0         601.1         563.7         566.7         632.9          333.3
1         131.1         162.7         170.2         165.5          288.7
2        6395.0        4835.0        3921.0        2704.0        16483.0
3      106958.0       92741.0      310004.0      309277.0       198375.0
4           NaN           NaN           NaN           NaN        39835.0

   X10_last2year  X10_last3year  X10_last4year  X10_last5year  X11_last1year  \
0        335.100          329.0          412.0          402.1           15.6
1        236.000          278.0          474.1          260.1           62.0
2       6259.000            3.6         3375.0         3222.0       -11049.0
3        155.573       665257.0      1040406.0       358271.0       -13581.0
4            NaN            NaN            NaN            NaN         -138.0

   X11_last2year  X11_last3year  X11_last4year  X11_last5year  X12_last1year  \
0           56.5           47.7           10.2           72.9          701.2
1         -474.3          -41.9          106.3           65.7         -918.4
2        -4673.0         1005.0            1.9         1345.0       -21447.0
3        82544.0       133769.0      -314737.0        13833.0       -95949.0
4            NaN            NaN            NaN            NaN       -33199.0

   X12_last2year  X12_last3year  X12_last4year  X12_last5year  X13_last1year  \
0        688.000          637.2          603.9          616.7         203.00
1       -979.300         -505.6         -448.2         -567.4         252.50
2     -10708.000        -5977.0        -7073.0        -8974.0        4282.00
3        -89.737      -175285.0      -185823.0           72.5      130246.00
4            NaN            NaN            NaN            NaN          15.89

   X13_last2year  X13_last3year  X13_last4year  X13_last5year  X14_last1year  \
0        251.400          242.7          231.1          297.9        1748.30
1        200.300          240.6          223.7          193.1        1156.60
2          5.031         2757.0         2704.0         2504.0          34.28
3     107847.000        90898.0       226591.0       258471.0      722425.00
4            NaN            NaN            NaN            NaN         107.31

   X14_last2year  X14_last3year  X14_last4year  X14_last5year  X15_last1year  \
0        1767.60         1662.6        1594.30         2035.0   1.551458e+06
1         996.70         1456.4        1322.20         1281.9   1.231524e+06
2          28.72        24998.0       23135.00        19833.0   5.020100e+00
3      653828.00       553617.0        1339.48      1297285.0   8.824491e+02
4            NaN            NaN            NaN            NaN   6.197200e+00

   X15_last2year  X15_last3year  X15_last4year  X15_last5year  X16_last1year  \
0      1200.3288       842.5112      1046.3954   9.613080e+05          588.4
1       805.6440       705.6420      2199.1200   1.677132e+06         1040.1
2        30.4793        29.0131        19.7568   1.390650e+01        17224.0
3      1038.6859      1541.7638    895299.0000   1.045883e+03       557038.0
4            NaN            NaN            NaN            NaN        52453.0

   X16_last2year  X16_last3year  X16_last4year  X16_last5year  X17_last1year  \
0         589.90          576.3         669.90        1198.80        1748.30
1         987.40         1006.8         757.20         737.90        1156.60
2       12296.00         3672.0           3.49           3.58          34.28
3         203.24       705305.0        1120.20     1197279.00      722425.00
4            NaN            NaN            NaN            NaN         107.31

   X17_last2year  X17_last3year  X17_last4year  X17_last5year  X18_last1year  \
0        1767.60         1662.6        1594.30         2035.0       1621.800
1         996.70         1456.4        1322.20         1281.9       1035.200
2          28.72        24998.0       23135.00        19833.0      37001.000
3      653828.00       553617.0        1339.48      1297285.0        681.609
4            NaN            NaN            NaN            NaN     103437.000

   X18_last2year  X18_last3year  X18_last4year  X18_last5year  \
0         1619.4         1525.7         1510.6         1779.0
1          912.0         1283.1         1154.3         1141.5
2        29152.0        23746.0        21279.0        18219.0
3       514914.0       390516.0      1185651.0      1142057.0
4            NaN            NaN            NaN            NaN

   X1_last1year_ycr  X1_last2year_ycr  X1_last3year_ycr  X1_last4year_ycr  \
0          0.061002          0.017638         -0.084897         -0.145761
1          0.230504         -0.164470          0.068637          0.069481
2         -0.057083         -0.009424          0.757960          0.330463
3          0.644794         -0.659089          0.543059        968.813461
4               NaN               NaN               NaN               NaN

   X1_last5year_ycr  X2_last1year_ycr  X2_last2year_ycr  X2_last3year_ycr  \
0          0.080488          0.013696          0.042993         -0.048119
1          0.105158          0.097425         -0.300573          0.088509
2               NaN         -0.212359          0.894638       1757.984423
3         -0.998968          0.389248        570.176980         -0.999190
4               NaN               NaN               NaN               NaN

   X2_last4year_ycr  X2_last5year_ycr  X3_last1year_ycr  X3_last2year_ycr  \
0         -0.311207          0.029295         -0.006677          0.050041
1          0.095197          0.049772          0.127727         -0.310325
2         -0.998694               NaN       1098.209733         -0.998862
3         -0.139712          0.014081         -0.998831          0.524821
4               NaN               NaN               NaN               NaN

   X3_last3year_ycr  X3_last4year_ycr  X3_last5year_ycr  X4_last1year_ycr  \
0          0.009086         -0.150942         -0.077632          0.141017
1          0.052205          0.032955          0.176186         -0.000307
2          0.102833          0.166001               NaN         -0.996049
3        207.914861         -0.999015          0.125108       2999.000000
4               NaN               NaN               NaN               NaN

   X4_last2year_ycr  X4_last3year_ycr  X4_last4year_ycr  X4_last5year_ycr  \
0          0.141073          0.601176         -0.849371         -0.093057
1          0.000461          2.243769         -0.498500          0.000000
2      58219.000000          0.000000         -0.999550               NaN
3         -0.994118          0.700000         -0.987216         -0.076737
4               NaN               NaN               NaN               NaN

   X5_last1year_ycr  X5_last2year_ycr  X5_last3year_ycr  X5_last4year_ycr  \
0         -0.429577          0.002825         -0.232936         -0.186067
1         -0.073795         -0.194175          0.226190         -0.008850
2       3371.000000         -0.997685          0.220339       1105.250000
3       1079.820097         -0.361115         -0.230577         -0.998244
4               NaN               NaN               NaN               NaN

   X5_last5year_ycr  X6_last1year_ycr  X6_last2year_ycr  X6_last3year_ycr  \
0          0.044199          0.113990          0.167927         -8.686047
1          0.008929          2.273224         -0.798680         -0.097319
2               NaN          3.728541         -1.899614         -0.382966
3          0.114799         -1.057496          0.000479          0.441085
4               NaN               NaN               NaN               NaN

   X6_last4year_ycr  X6_last5year_ycr  X7_last1year_ycr  X7_last2year_ycr  \
0         -1.060309          0.043924         -0.146424          0.082542
1          0.387052         -0.209150          0.433294         -0.511252
2          0.154746               NaN          5.298611         -1.345048
3         -0.368878        738.647790         -0.706178         -0.148295
4               NaN               NaN               NaN               NaN

   X7_last3year_ycr  X7_last4year_ycr  X7_last5year_ycr  X8_last1year_ycr  \
0          0.635603         -0.673047          0.044046         -0.028414
1          0.032162          0.195869         -0.116981          0.209995
2         -0.325431          0.149938               NaN       1341.736502
3          0.060275        989.987451         -0.999171          0.070405
4               NaN               NaN               NaN               NaN

   X8_last2year_ycr  X8_last3year_ycr  X8_last4year_ycr  X8_last5year_ycr  \
0          0.120897          0.222973         -0.445326          0.002209
1         -0.323544          0.183950          0.028910         -0.014956
2         -0.998834          0.046262          0.167242               NaN
3       1051.937822         -0.999350       1092.363183         -0.025174
4               NaN               NaN               NaN               NaN

   X9_last1year_ycr  X9_last2year_ycr  X9_last3year_ycr  X9_last4year_ycr  \
0         -0.088504          0.066347         -0.005294         -0.104598
1         -0.188406         -0.194222         -0.044066          0.028399
2         -0.998913          0.322647          0.233104          0.450074
3          0.177687          0.153298         -0.700839          0.002351
4               NaN               NaN               NaN               NaN

   X9_last5year_ycr  X10_last1year_ycr  X10_last2year_ycr  X10_last3year_ycr  \
0          0.085778          -0.005372           0.018541          -0.201456
1          0.177936           0.223305          -0.151079          -0.413626
2               NaN           1.633488        1737.611111          -0.998933
3         -0.100675        1274.124861          -0.999766          -0.360579
4               NaN                NaN                NaN                NaN

   X10_last4year_ycr  X10_last5year_ycr  X11_last1year_ycr  X11_last2year_ycr  \
0           0.024621           0.033676          -0.723894           0.184486
1           0.822760          -0.092463          -1.130719          10.319809
2           0.047486                NaN           1.364434          -5.649751
3           1.903964          -0.053698          -1.164530          -0.382936
4                NaN                NaN                NaN                NaN

   X11_last3year_ycr  X11_last4year_ycr  X11_last5year_ycr  X12_last1year_ycr  \
0           3.676471          -0.860082           0.325455           0.019186
1          -1.394167           0.617960          -0.406504          -0.062187
2         527.947368          -0.998587                NaN           1.002895
3          -1.425018         -23.752621          -1.138801        1068.224512
4                NaN                NaN                NaN                NaN

   X12_last2year_ycr  X12_last3year_ycr  X12_last4year_ycr  X12_last5year_ycr  \
0           0.079724           0.055142          -0.020756           0.136984
1           0.936907           0.128068          -0.210081          -0.125058
2           0.791534          -0.154955          -0.211834                NaN
3          -0.999488          -0.056710       -2564.075862          -1.001514
4                NaN                NaN                NaN                NaN

   X13_last1year_ycr  X13_last2year_ycr  X13_last3year_ycr  X13_last4year_ycr  \
0          -0.192522           0.035847           0.050195          -0.224236
1           0.260609          -0.167498           0.075548           0.158467
2         850.123037          -0.998175           0.019601           0.079872
3           0.207692           0.186462          -0.598845          -0.123341
4                NaN                NaN                NaN                NaN

   X13_last5year_ycr  X14_last1year_ycr  X14_last2year_ycr  X14_last3year_ycr  \
0          -0.055485          -0.010919           0.063154           0.042840
1          -0.173727           0.160429          -0.315641           0.101498
2                NaN           0.193593          -0.998851           0.080527
3           0.103036           0.104916           0.181011         412.307403
4                NaN                NaN                NaN                NaN

   X14_last4year_ycr  X14_last5year_ycr  X15_last1year_ycr  X15_last2year_ycr  \
0          -0.216560          -0.060957        1291.527514           0.424704
1           0.031438           0.096391        1527.620582           0.141718
2           0.166490                NaN          -0.835295           0.050536
3          -0.998967           0.054050          -0.150418          -0.326300
4                NaN                NaN                NaN                NaN

   X15_last3year_ycr  X15_last4year_ycr  X15_last5year_ycr  X16_last1year_ycr  \
0          -0.194844          -0.998911        1215.841103          -0.002543
1          -0.679125          -0.998689          -0.175015           0.053372
2           0.468512           0.420688                NaN           0.400781
3          -0.998278         855.021809           0.706979        2739.789215
4                NaN                NaN                NaN                NaN

   X16_last2year_ycr  X16_last3year_ycr  X16_last4year_ycr  X16_last5year_ycr  \
0           0.023599          -0.139722          -0.441191          -0.015278
1          -0.019269           0.329635           0.026155          -0.030482
2           2.348584        1051.148997          -0.025140                NaN
3          -0.999712         628.624174          -0.999064          -0.075518
4                NaN                NaN                NaN                NaN

   X17_last1year_ycr  X17_last2year_ycr  X17_last3year_ycr  X17_last4year_ycr  \
0          -0.010919           0.063154           0.042840          -0.216560
1           0.160429          -0.315641           0.101498           0.031438
2           0.193593          -0.998851           0.080527           0.166490
3           0.104916           0.181011         412.307403          -0.998967
4                NaN                NaN                NaN                NaN

   X17_last5year_ycr  X18_last1year_ycr  X18_last2year_ycr  X18_last3year_ycr  \
0          -0.060957           0.001482           0.061414           0.009996
1           0.096391           0.135088          -0.289221           0.111583
2                NaN           0.269244           0.227659           0.115936
3           0.054050          -0.998676           0.318548          -0.670632
4                NaN                NaN                NaN                NaN

   X18_last4year_ycr  X18_last5year_ycr  nyse_last1year nyse_last2year  \
0          -0.150871          -0.074354    11912.848307   10451.377523
1           0.011213           0.129974     7166.229940    6100.795776
2           0.167957                NaN     8001.502441     9685.00179
3           0.038171           0.094451     9685.001790     8434.44161
4                NaN                NaN     6549.827474           <NA>

  nyse_last3year nyse_last4year nyse_last5year  nasdaq_last1year  \
0   10606.906738   10699.956624    9467.185872       6293.024211
1    8001.502441     9685.00179     8434.44161       2333.908345
2     8434.44161    7364.758301    6645.525065       2148.948334
3    7364.758301    6645.525065    5478.855835       2587.587504
4           <NA>           <NA>           <NA>       2787.559998

  nasdaq_last2year nasdaq_last3year nasdaq_last4year nasdaq_last5year
0      5015.926717      4932.729126      4414.850057      3575.141642
1      1856.529999      2148.948334      2587.587504      2278.996664
2      2587.587504      2278.996664      2100.603343      1992.867482
3      2278.996664      2100.603343      1992.867482      1659.239176
4             <NA>             <NA>             <NA>             <NA>

In [49]:
new_df_selected5_last5years.shape

(8971, 195)

In [50]:
# Count the number of missing values in each column
missing_values_count = new_df_selected5_last5years.isnull().sum()

# Show the number of missing values in each column
print("Number of missing values per column")
print(missing_values_count)

Number of missing values per column
company_name            0
status_label            0
Division                0
MajorGroup              0
last_year               0
X1_last1year            0
X1_last2year          893
X1_last3year         1799
X1_last4year         2530
X1_last5year         3191
X2_last1year            0
X2_last2year          893
X2_last3year         1799
X2_last4year         2530
X2_last5year         3191
X3_last1year            0
X3_last2year          893
X3_last3year         1799
X3_last4year         2530
X3_last5year         3191
X4_last1year            0
X4_last2year          893
X4_last3year         1799
X4_last4year         2530
X4_last5year         3191
X5_last1year            0
X5_last2year          893
X5_last3year         1799
X5_last4year         2530
X5_last5year         3191
X6_last1year            0
X6_last2year          893
X6_last3year         1799
X6_last4year         2530
X6_last5year         3191
X7_last1year            0
X7_last2year          893
X7_last3year         1799
X7_last4year         2530
X7_last5year         3191
X8_last1year            0
X8_last2year          893
X8_last3year         1799
X8_last4year         2530
X8_last5year         3191
X9_last1year            0
X9_last2year          893
X9_last3year         1799
X9_last4year         2530
X9_last5year         3191
X10_last1year           0
X10_last2year         893
X10_last3year        1799
X10_last4year        2530
X10_last5year        3191
X11_last1year           0
X11_last2year         893
X11_last3year        1799
X11_last4year        2530
X11_last5year        3191
X12_last1year           0
X12_last2year         893
X12_last3year        1799
X12_last4year        2530
X12_last5year        3191
X13_last1year           0
X13_last2year         893
X13_last3year        1799
X13_last4year        2530
X13_last5year        3191
X14_last1year           0
X14_last2year         893
X14_last3year        1799
X14_last4year        2530
X14_last5year        3191
X15_last1year           0
X15_last2year         893
X15_last3year        1799
X15_last4year        2530
X15_last5year        3191
X16_last1year           0
X16_last2year         893
X16_last3year        1799
X16_last4year        2530
X16_last5year        3191
X17_last1year           0
X17_last2year         893
X17_last3year        1799
X17_last4year        2530
X17_last5year        3191
X18_last1year           0
X18_last2year         893
X18_last3year        1799
X18_last4year        2530
X18_last5year        3191
X1_last1year_ycr      893
X1_last2year_ycr     1870
X1_last3year_ycr     2624
X1_last4year_ycr     3270
X1_last5year_ycr     3858
X2_last1year_ycr      893
X2_last2year_ycr     1870
X2_last3year_ycr     2624
X2_last4year_ycr     3270
X2_last5year_ycr     3858
X3_last1year_ycr      893
X3_last2year_ycr     1870
X3_last3year_ycr     2624
X3_last4year_ycr     3270
X3_last5year_ycr     3858
X4_last1year_ycr      893
X4_last2year_ycr     1870
X4_last3year_ycr     2624
X4_last4year_ycr     3270
X4_last5year_ycr     3858
X5_last1year_ycr      893
X5_last2year_ycr     1870
X5_last3year_ycr     2624
X5_last4year_ycr     3270
X5_last5year_ycr     3858
X6_last1year_ycr      893
X6_last2year_ycr     1870
X6_last3year_ycr     2624
X6_last4year_ycr     3270
X6_last5year_ycr     3858
X7_last1year_ycr      893
X7_last2year_ycr     1870
X7_last3year_ycr     2624
X7_last4year_ycr     3270
X7_last5year_ycr     3858
X8_last1year_ycr      893
X8_last2year_ycr     1870
X8_last3year_ycr     2624
X8_last4year_ycr     3270
X8_last5year_ycr     3858
X9_last1year_ycr      893
X9_last2year_ycr     1870
X9_last3year_ycr     2624
X9_last4year_ycr     3270
X9_last5year_ycr     3858
X10_last1year_ycr     893
X10_last2year_ycr    1870
X10_last3year_ycr    2624
X10_last4year_ycr    3270
X10_last5year_ycr    3858
X11_last1year_ycr     893
X11_last2year_ycr    1870
X11_last3year_ycr    2624
X11_last4year_ycr    3270
X11_last5year_ycr    3858
X12_last1year_ycr     893
X12_last2year_ycr    1870
X12_last3year_ycr    2624
X12_last4year_ycr    3270
X12_last5year_ycr    3858
X13_last1year_ycr     893
X13_last2year_ycr    1870
X13_last3year_ycr    2624
X13_last4year_ycr    3270
X13_last5year_ycr    3858
X14_last1year_ycr     893
X14_last2year_ycr    1870
X14_last3year_ycr    2624
X14_last4year_ycr    3270
X14_last5year_ycr    3858
X15_last1year_ycr     893
X15_last2year_ycr    1870
X15_last3year_ycr    2624
X15_last4year_ycr    3270
X15_last5year_ycr    3858
X16_last1year_ycr     893
X16_last2year_ycr    1870
X16_last3year_ycr    2624
X16_last4year_ycr    3270
X16_last5year_ycr    3858
X17_last1year_ycr     893
X17_last2year_ycr    1870
X17_last3year_ycr    2624
X17_last4year_ycr    3270
X17_last5year_ycr    3858
X18_last1year_ycr     893
X18_last2year_ycr    1870
X18_last3year_ycr    2624
X18_last4year_ycr    3270
X18_last5year_ycr    3858
nyse_last1year          0
nyse_last2year        475
nyse_last3year        968
nyse_last4year       1319
nyse_last5year       1670
nasdaq_last1year        0
nasdaq_last2year      475
nasdaq_last3year      968
nasdaq_last4year     1319
nasdaq_last5year     1670
dtype: int64

In [51]:
# Count the number of rows with missing values
rows_with_missing_values = new_df_selected5_last5years.isnull().any(axis=1)
# Group and count rows with and without missing values
missing_values_counts = rows_with_missing_values.value_counts()

# Show the number of rows with and without missing values
print("Number of rows without missing values：", missing_values_counts[False])
print("Number of rows with missing values：", missing_values_counts[True])

Number of rows without missing values： 4978
Number of rows with missing values： 3993

In [52]:
# Filter out rows with missing values
rows_with_missing_values = new_df_selected5_last5years[new_df_selected5_last5years.isnull().any(axis=1)]

# Filter out rows with status_label column "failed" among rows with missing values and count their number
failed_rows_with_missing_values = rows_with_missing_values[rows_with_missing_values['status_label'] == 'failed']
count_failed_rows_with_missing_values = len(failed_rows_with_missing_values)

# Displays the number of rows with missing values where status_label is "failed"
print("Number of rows with missing values where status_label is failed：", count_failed_rows_with_missing_values)

# Filter out rows that do not have missing values
rows_without_missing_values = new_df_selected5_last5years[~new_df_selected5_last5years.isnull().any(axis=1)]

# Filter out rows whose status_label column is "failed" among rows that do not have missing values, and count their number
failed_rows_without_missing_values = rows_without_missing_values[rows_without_missing_values['status_label'] == 'failed']
count_failed_rows_without_missing_values = len(failed_rows_without_missing_values)

# Displays the number of rows with status_label "failed" that do not have missing values
print("Number of rows with status_label failed that do not have missing values：", count_failed_rows_without_missing_values)

Number of rows with missing values where status_label is failed： 179
Number of rows with status_label failed that do not have missing values： 430

In [53]:
#Save this subdataset
new_df_selected5_last5years.to_csv("new_df_selected5_last5years_adjusted.csv", index=False)